<div id="_aguarde" 
     class="oculto" 
     role="alert"
     aria-label="A aplicação está em processamento. Aguarde.">
    <div id="_spin" 
         role="img" 
         aria-label="Carregando">
     </div>
</div>
