@model Tuple<string, string, string, string>

<div class="form-group botoes">
    @if (!string.IsNullOrEmpty(Model.Item1))
    {
        <button type="submit" class="btn btn-success mr-1">
            <i class='fas fa-save'></i>@Model.Item1
        </button>
    }
    @if (!string.IsNullOrEmpty(Model.Item2))
    {
        <button type="submit" class="btn btn-danger mr-1">
            <i class='fas fa-trash'></i>@Model.Item2
        </button>
    }
    @if (!string.IsNullOrEmpty(Model.Item3))
    {
        <a href="/@Model.Item3" class="btn btn-success mr-1">
            <i class="fas fa-edit"></i>Alterar
        </a>
    }
    @if (!string.IsNullOrEmpty(Model.Item4))
    {
        <a asp-action="Index" class="btn btn-cancel mr-1">
            <i class='fas fa-times'></i>@Model.Item4
        </a>
    }
</div>
