<partial name="_BarraAcessibilidade" />
<header id="tituloCabecalho">
    <img id="tituloBrasao" src="assets/img/BrasaoSP.png" alt="Brasão do Estado de São Paulo">
    <span id="tituloApp">Aplicação modelo Angular</span>
    <span id="tituloSefaz">Secretaria da Fazenda e Planejamento</span>
    <partial name="_MenuDropPartial" />
    <i id="botao-hamburguinho" class="fas fa-bars" aria-label="Menu da aplicação" (click)="alternarMenuEvent.emit()"></i>
</header>

