@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Configuration
@using SefazLib;
@using modelo_core_mvc.Models
@inject IConfiguration Configuration
@{
    var nomeExibicao = "Não Autenticado";

    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];

        var authenticationResult = await Context.AuthenticateAsync();
        var accessToken = authenticationResult.Properties.Items.FirstOrDefault(prop => prop.Key == ".Token.access_token").Value;
        if (!string.IsNullOrEmpty(accessToken))
        {
            IdentityConfig.jwtToken = accessToken;
        }
    }
    var iniciaisDoNome = Usuario.ObterIniciais(nomeExibicao);
    var iniciais = iniciaisDoNome.Length >= 2 ? iniciaisDoNome.Substring(0, 2) : iniciaisDoNome;
}

<partial name="_BarraAcessibilidade" />
<header class="tituloCabecalho">
    <div class="fundoBrasaoMobile fundoBrasao" role="img">
        <img class="brasao" 
             src="https://devbsacdn.blob.core.windows.net/v01/img/BRASAO_GOV_SP_Original.svg" 
             alt="">
    </div>
    <div class="tituloApp">
        <p class="nomeApp">Aplicação Exemplo .Net MVC</p>
        <p class="moduloApp">Módulo principal</p>
    </div>
    <div class="tituloMobile">
        <p class="tituloSefaz">Secretaria da Fazenda e Planejamento</p>
        <p class="usuarioAutenticado" aria-live="polite">@nomeExibicao</p>
    </div>
    <button class="botaoPopup"
         aria-haspopup="true"
         aria-label="Exibe e oculta o menu de configuração popup"
         title="Exibe e oculta o menu de configuração popup"
          tabindex="0"
         onclick="alternarClasse(['menuPopup'],'oculto',false)">
        <span class="iniciaisPopup">@iniciais</span>
    </button>
    <button  class="botaoHamburguinho fas fa-bars"
             aria-label="Exibe e oculta o Menu da aplicação"
             title="Exibe e oculta o menu da aplicação"
             tabindex="0"
             onclick="alternarClasse(['painelLateral', 'painelPrincipal'],'oculto',false)">
    </button>
</header>
