@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Configuration
@using SefazLib;
@using modelo_core_mvc.Models
@inject IConfiguration Configuration
@{
    var nomeExibicao = "Não Autenticado";

    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];

        var authenticationResult = await Context.AuthenticateAsync();
        var accessToken = authenticationResult.Properties.Items.FirstOrDefault(prop => prop.Key == ".Token.access_token").Value;
        if (!string.IsNullOrEmpty(accessToken))
        {
            IdentityConfig.jwtToken = accessToken;
        }
    }
    var iniciaisDoNome = Usuario.ObterIniciais(nomeExibicao);
    var iniciais = iniciaisDoNome.Length >= 2 ? iniciaisDoNome.Substring(0, 2) : iniciaisDoNome;
}

@Html.Hidden("nomeExibicao", nomeExibicao)

<partial name="_BarraAcessibilidade" />
<header id="tituloCabecalho" role="banner">
    <div id="fundoBrasaoMobile" role="img" class="fundoBrasao">
        <img class="brasao" 
             src="https://devbsacdn.blob.core.windows.net/v01/img/BRASAO_GOV_SP_Original.svg" 
             alt="Brasão do Estado de São Paulo">
    </div>
    <div id="tituloApp">
        <h1>Aplicação Exemplo .Net MVC</h1>
        <h2>Módulo principal</h2>
    </div>
    <div id="tituloMobile">
        <h1 id="tituloSefaz">Secretaria da Fazenda e Planejamento</h1>
        <h2 id="usuarioAutenticado" aria-live="polite">@nomeExibicao</h2>
    </div>
    <button id="botaoPopup"
         aria-haspopup="true"
         aria-label="Exibe e oculta o menu de configuração popup"
         title="Exibe e oculta o menu de configuração popup"
         tabindex="0"
         onclick="alternarClasse(['menuPopup'],'oculto',false)">
        <span id="iniciaisPopup">@iniciais</span>
    </button>
    <button  id="botaoHamburguinho"
             class="fas fa-bars"
             aria-label="Exibe e oculta o Menu da aplicação"
             title="Exibe e oculta o menu da aplicação"
             tabindex="0"
             onclick="alternarClasse(['painelLateral', 'painelPrincipal'],'oculto',false)">
    </button>
</header>
