@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Configuration
@using SefazLib.IdentityCfg;
@using SefazLib.usuarios
@using SefazLib.AzureUtils;
@inject AzureUtil azureUtil;
@inject IConfiguration Configuration
@{
    var nomeExibicao = "Não Autenticado";

    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];

        if (Configuration["identity:type"] == "azuread")
        {
            try
            {
                Usuario usuario = await azureUtil.GetUserAsync();
                nomeExibicao = usuario.nomeCompleto;
            }
            catch { }
        }

        var authenticationResult = await Context.AuthenticateAsync();
        var accessToken = authenticationResult.Properties.Items.FirstOrDefault(prop => prop.Key == ".Token.access_token").Value;
        if (!string.IsNullOrEmpty(accessToken))
        {
            IdentityConfig.jwtToken = accessToken;
        }
    }
    var iniciaisDoNome = Usuario.ObterIniciais(nomeExibicao);
    var iniciais = iniciaisDoNome.Length >= 2 ? iniciaisDoNome.Substring(0, 2) : iniciaisDoNome;
}

@Html.Hidden("nomeExibicao", nomeExibicao)

<partial name="_BarraAcessibilidade" />
<div id="tituloCabecalho">
    <img id="tituloBrasao" src="https://dev-cdn-caeeh2eyhmh6cbd4.z01.azurefd.net/v01/img/BrasaoSP.png" alt="Brasão do Estado de São Paulo">
    <span id="tituloApp">Aplicação modelo .Net MVC</span>
    <div id="subtitulo">
        <span id="tituloSefaz">Secretaria da Fazenda e Planejamento</span>
        <span id="usuarioAutenticado">@nomeExibicao</span>
    </div>
    <i id="botao_popup"
       alt="Menu Popup"
       title="Exibe e oculta o menu de ambiente"
       aria-label="Exibe e oculta o menu de ambiente"
       onclick="alternarClasse(['menu_popup'],'oculto',false)">
       <text id="iniciais_popup">@iniciais</text>
    </i>
    <i id="botao-hamburguinho"
       class="fas fa-bars"
       alt="Menu Popup"
       aria-label="Exibe e oculta o Menu da aplicação"
       onclick="alternarClasse(['painel_lateral', 'painel_principal'],'oculto',false)">
    </i>
</div>
