<div class="container-fluid" id="barraAcessibilidade">
    <div class="d-flex">
        <div class="visually-hidden-focusable" id="atalhosDocumento">
            <div>
                <span>1</span><a accesskey="1" href="#Main" aria-label="Pular para o conteúdo principal">Conteúdo principal</a>
                <span>2</span><a accesskey="2" href="#barraAcessibilidade" aria-label="Pular para a barra de acessibilidade">Barra de acessibilidade</a>
                <span>3</span><a accesskey="3" href="#topo" aria-label="Pular para o topo da página">Topo da página</a>
                <span>4</span><a accesskey="4" href="#barra-lateral" aria-label="Pular para o menu lateral">Menu Lateral</a>
            </div>
        </div>
        <div>
            <button class="btn-acessibilidade btn" title="Alt +" aria-label="Aumentar caractere" accesskey="9">
                <span>A+</span>
            </button>
            <button class="btn-acessibilidade btn" title="Alt -" aria-label="Diminuir caractere" accesskey="0">
                <span>A-</span>
            </button>
            <button class="btn-acessibilidade btn" title="Alt *" aria-label="Alto contraste" accesskey="*">
                <svg xmlns="http://www.w3.org/2000/svg" height="13" viewBox="16.667 36.667 166.666 206.666" width="13">
                    <path d="M100 203.333q-17.292 0-32.5-6.563t-26.458-17.812q-11.25-11.25-17.813-26.458T16.667 120q0-17.292 6.563-32.5t17.812-26.458q11.25-11.25 26.458-17.813t32.5-6.562q17.292 0 32.5 6.563t26.458 17.812q11.25 11.25 17.813 26.458t6.562 32.5q0 17.292-6.563 32.5t-17.812 26.458q-11.25 11.25-26.458 17.813t-32.5 6.562Zm4.167-12.5q28.542-2.083 47.604-22.083T170.833 120q0-28.75-19.063-48.75t-47.603-22.083v141.667Z" />
                </svg>
            </button>
        </div>
    </div>
</div>
<partial name="_MenuDropPartial" />
@*<div class="titulodireita  col-2 col-sm-3 col-md-2 col-lg-4">
    <div class="user-name col-10"> <partial name="_LoginPartial" /> </div>
    <div class="menu_popup col-2"> <partial name="_MenuDropPartial" /> </div>
</div>*@
