<partial name="_BarraAcessibilidade" />
<header id="tituloCabecalho">
    <img id="tituloBrasao" src="~/img/BrasaoSP.png" alt="Brasão do Estado de São Paulo">
    <span id="tituloApp">Aplicação modelo .Net MVC</span>
    <span id="tituloSefaz">Secretaria da Fazenda e Planejamento</span>
    <partial name="_MenuDropPartial" />
    <i id="botao-hamburguinho" 
       class="fas fa-bars" 
       title="Exibe e oculta o Menu da aplicação" 
       aria-label="Exibe e oculta o Menu da aplicação" 
       onclick="alternarClasse(['painel_lateral', 'painel_principal'],'oculto')"></i>
</header>
