<div id="itens_nav">
    <ul class="list-unstyled components">
        <li>
            <em class='fas fa-home'></em>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                Home
            </a>
        </li>
        <li>
            <em class="fas fa-table"></em>
            <a asp-area="" asp-controller="Projetos" asp-action="Index">
                Lista de Projetos
            </a>
        </li>
        <li>
            <em class="fas fa-user-secret"></em>
            <a asp-area="" asp-controller="Home" asp-action="Privacidade">
                Privacidade
            </a>
        </li>
    </ul>
</div>

<div id="itens_popup">
    <partial name="_ItensPopup" />
</div>
