<ul id="itensNav" class="list-unstyled components">
    <a class="botaoMenu" asp-area="" asp-controller="Home" asp-action="Index">
        <em class="fas fa-home"></em>
        <span>Home</span>
    </a>
    <a class="botaoMenu" asp-area="" asp-controller="Projetos" asp-action="Index" onclick="_aguarde()">
        <em class="fas fa-table"></em>
        <span>Lista de Projetos</span>
    </a>
    <a class="botaoMenu" asp-area="" asp-controller="Home" asp-action="Privacidade">
        <em class="fas fa-user-secret"></em>
        <span>Privacidade</span>
    </a>
</ul>

<ul id="itensPopup" class="list-unstyled components">
    <a class="botaoMenu" asp-area="" asp-controller="Home" asp-action="Contato">
        <em class="fas fa-mail-bulk"></em>
        <span>Contato</span>
    </a>
    <a class="botaoMenu" asp-area="" asp-controller="Autenticacao" asp-action="TesteIdentity" onclick="_aguarde()">
        <em class="fas fa-id-card"></em>
        <span>Teste do Identity</span>
    </a>
    <a class="botaoMenu" asp-area="" asp-controller="Home" asp-action="Sobre" onclick="_aguarde()">
        <em class="fas fa-info-circle"></em>
        <span>Sobre</span>
    </a>
    @if (User.Identity.IsAuthenticated) {
        <a class="botaoMenu" asp-area="" asp-controller="Autenticacao" asp-action="Entrar" onclick="_aguarde()">
            <em class="fas fa-address-card"></em>
            <span>Identificação</span>
        </a>
        <hr class="menuDivider">
        <a class="botaoMenu" asp-area="" asp-controller="Autenticacao" asp-action="Sair" onclick="_aguarde()">
            <em class="fas fa-door-open"></em>
            <span>Sair</span>
        </a>
    }
    else {
        <hr class="menuDivider">
        <a class="botaoMenu" asp-area="" asp-controller="Autenticacao" asp-action="Entrar" onclick="_aguarde()">
            <em class="fas fa-address-card"></em>
            <span>Entrar</span>
        </a>
    }
</ul>
