<div id="itens_nav">
    <ul class="list-unstyled components">
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class='fas fa-home'></i>
                Home
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Projetos" asp-action="Index">
                <i class="fas fa-table"></i>
                Lista de Projetos
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Privacidade">
                <i class="fas fa-user-secret"></i>
                Privacidade
            </a>
        </li>
    </ul>
</div>

<div id="itens_popup">
    <partial name="_ItensPopup" />
</div>
