@using Microsoft.AspNetCore.Authentication
@using Microsoft.Extensions.Configuration
@using SefazLib.usuarios
@using SefazLib.AzureUtils;
@inject AzureUtil azureUtil;
@inject IConfiguration Configuration
@{
    var nomeExibicao = "Não Autenticado";
    if (User.Identity.IsAuthenticated)
    {
        nomeExibicao = @User.Identity.Name.Split(":")[0];
        if (Configuration["identity:type"] == "azuread")
        {
            try
            {
                Usuario usuario = await azureUtil.GetUserAsync();
                nomeExibicao = usuario.nomeCompleto;
            }
            catch { }
        }
    }
}

@Html.Hidden("nomeExibicao", nomeExibicao)

<div class="dropdown">
    <em id="botao_popup" class="dropdown-toggle" data-toggle="dropdown" 
        aria-expanded="false" 
        alt="Menu de acesso e informações do sistema" 
        onclick="alternarOculto('menu_popup')">
        <mgt-person class="drop-person"
                    line1-property="displayName">
        </mgt-person>
    </em>
    <nav id="menu_popup" class="dropdown-menu drp-mnu oculto">
        <partial name="_ItensPopup" />
    </nav>
</div>