<div class="dropdown">
    <em id="botao_popup" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" alt="Menu de acesso e informações do sistema">
        <mgt-person class="drop-person" line1-property="displayName"></mgt-person>
    </em>
    <ul class="dropdown-menu" id="menu_popup">
        <partial name="_ItensPopup" />
    </ul>
</div>
