@*Biblioteca de terceiros*@
<script src="~/js/jquery.min.js"></script>
<script src="~/js/popper/popper.min.js"></script>
<script src="~/js/bootstrap.bundle.min.js"></script>

@*Biblioteca interna*@
<script src="~/js/script.js"></script>

@* widget para leitura de texto em Libras *@
<div id="vlibras" vw class="">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>
<script src="~/js/vlibras-plugin.js"></script>
<script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
</script>
