@model modelo_core_mvc.Errors.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro.</h1>
<h2 class="text-danger">Houve um erro ao processar sua chamada.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

@if (Model.Exception != null)
{
    <h3>Detalhes do Erro:</h3>
    <p>
        <strong>Mensagem de Erro:</strong> @Model.Exception.Message
    </p>
    <p>
        <strong>StackTrace:</strong>
        <pre>@Model.Exception.StackTrace</pre>
    </p>
}
