<section role="contentinfo" aria-labelledby="textoAcessibilidade">
    <h1 id="textoAcessibilidade" class="titulo-conteudo">Dicas de acessibilidade</h1>

    <p>
        Acessibilidade é um conceito que visa garantir que pessoas com deficiência possam utilizar os recursos digitais de
        forma eficiente e segura. Para isso, é importante que os desenvolvedores de aplicações web adotem práticas que
        facilitem a navegação e a interação com os conteúdos.
    </p>

    <h2>Uso de leitores de tela</h2>
    <p>
        Os leitores de tela são ferramentas que convertem o conteúdo exibido na tela em áudio, permitindo que pessoas com
        deficiência visual possam acessar informações de forma independente. Para garantir a compatibilidade com essas
        ferramentas, é importante seguir as boas práticas de acessibilidade.
    </p>
    <h3>NVDA</h3>
    <p>
        O NVDA (NonVisual Desktop Access) é um leitor de tela gratuito e de código aberto que funciona em ambiente Windows.
        Para utilizá-lo, basta instalar o software e configurar as opções de acordo com as preferências do usuário.
    </p>
    <h4>Dicas e comandos úteis para navegar usando o NVDA</h4>
    <ul aria-label="Dicas e comandos úteis para navegar usando o NVDA">
        <li>
            <strong>Ativar o Modo de Navegação:</strong> Pressione <kbd>NVDA + Barra de Espaço</kbd> para alternar entre o
            modo de navegação e o modo de foco.
        </li>
        <li>
            <strong>Navegar por Cabeçalhos:</strong> Use <kbd>H</kbd> para ir para o próximo cabeçalho e <kbd>
                Shift +
                H
            </kbd> para ir para o cabeçalho anterior. Use <kbd>1</kbd> a <kbd>6</kbd> para ir para o próximo cabeçalho
            de nível específico.
        </li>
        <li>
            <strong>Navegar por Links:</strong> Use <kbd>K</kbd> para ir para o próximo link e <kbd>Shift + K</kbd> para ir
            para o link anterior.
        </li>
        <li>
            <strong>Navegar por Botões:</strong> Use <kbd>B</kbd> para ir para o próximo botão e <kbd>Shift + B</kbd> para
            ir para o botão anterior.
        </li>
        <li>
            <strong>Navegar por Elementos de Formulário:</strong> Use <kbd>F</kbd> para ir para o próximo campo de
            formulário e <kbd>Shift + F</kbd> para ir para o campo de formulário anterior.
        </li>
        <li>
            <strong>Navegar por Regiões:</strong> Use <kbd>D</kbd> para ir para a próxima região e <kbd>Shift + D</kbd> para
            ir para a região anterior.
        </li>
        <li>
            <strong>Teclas de Tabulação:</strong> Use <kbd>Tab</kbd> para mover o foco para o próximo elemento focável e
            <kbd>Shift + Tab</kbd> para mover o foco para o elemento focável anterior.
        </li>
    </ul>
    <hr aria-hidden="true">
    <h3>VoiceOver</h3>
    <p>
        O VoiceOver é um leitor de tela integrado aos dispositivos da Apple, como iPhone, iPad e Mac.
        Para ativá-lo, basta acessar as configurações de acessibilidade do dispositivo e habilitar a opção VoiceOver.
    </p>
    <h4>Dicas e comandos úteis para navegar usando o VoiceOver</h4>
    <ul aria-label="Dicas e comandos úteis para navegar usando o VoiceOver">
        <li><strong>Ativar o VoiceOver:</strong> Pressione <kbd>Command + F5</kbd> para ativar ou desativar o VoiceOver.</li>
        <li>
            <strong>Navegar por Elementos:</strong> Use <kbd>Control + Option + Direita/Esquerda</kbd> para navegar para o
            próximo ou anterior elemento.
        </li>
        <li><strong>Ler Elemento Atual:</strong> Pressione <kbd>Control</kbd> para ler o elemento atual.</li>
        <li><strong>Navegar por Cabeçalhos:</strong> Use <kbd>Control + Option + H</kbd> para navegar por cabeçalhos.</li>
        <li><strong>Navegar por Links:</strong> Use <kbd>Control + Option + L</kbd> para navegar por links.</li>
        <li><strong>Navegar por Botões:</strong> Use <kbd>Control + Option + B</kbd> para navegar por botões.</li>
        <li><strong>Navegar por Tabelas:</strong> Use <kbd>Control + Option + T</kbd> para navegar por tabelas.</li>
        <li><strong>Navegar por Listas:</strong> Use <kbd>Control + Option + I</kbd> para navegar por listas.</li>
    </ul>
    <hr aria-hidden="true">
    <h2 id="teclas-atalho">Teclas de atalho para essa aplicação</h2>
    <ul aria-labelledby="teclas-atalho">
        <li>Alt + 1: Navegação para o Menu Principal</li>
        <li>Alt + 2: Navegação para o Conteúdo</li>
        <li>Alt + 3: Navegação para o Menu Secundário</li>
    </ul>
</section>