<section role="contentinfo" aria-labelledby="contato">
    <h1 id="contato">Fale conosco</h1>
    <div>
        <h2>Documentação</h2>
        <p>
            Obtenha informações sobre essa aplicação no
            <a href="https://ads.intra.fazenda.sp.gov.br/tfs/PRODUTOS/Padroes_Desenvolvimento"
               target="_blank" rel="noopener" aria-label="Link para o projeto Padrões de Desenvolvimento">
                Projeto de Padrões de Desenvolvimento.
            </a>
        </p>
    </div>
    <div>
        <h2 id="suporte">Suporte</h2>
        Para solicitar orientações e suporte:
        <ul aria-labelledby="suporte">
            <li>
                Consulte sempre a
                <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Wiki_Arquitetura"
                   target="_blank"
                   aria-label="Link para o Wiki de Arquitetura e Padrões do DTI"
                   rel="noopener">
                    <span>Wiki de Arquitetura e Padrões do DTI</span>
                </a>
                para obter informações sobre o ambiente tecnológico da Sefaz.
            </li>
            <li>
                ​​Abra um chamado no
                <a href="https://ads.intra.fazenda.sp.gov.br/tfs/PRODUTOS/Suporte_DevOps"
                   target="_blank"
                   aria-label="Link para o projeto Suporte Devops"
                   rel="noopener">
                    <span>Suporte_Devops</span>
                </a>
                para solicitar suporte técnico.
            </li>
        </ul>
    </div>
</section>