<section>
    <h1>@ViewData["Message"]</h1>
    <h2>Documentação</h2>
    Obtenha informações sobre o <a href="https://ads.intra.fazenda.sp.gov.br/tfs/PRODUTOS/Padroes_Desenvolvimento" target="_blank" rel="noopener">
        Projeto de Padrões de Desenvolvimento
    </a>.
    <h2>Suporte</h2>
    Para solicitar orientações e suporte:
    <ul>
        <li>
            Consulte sempre a
            <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Wiki_Arquitetura" target="_blank" rel="noopener">
                Wiki de Arquitetura e Padrões do DTI
            </a>
            para obter informações sobre o ambiente tecnológico da Sefaz.
        </li>
        <li>
            ​​Abra um chamado no <a href="https://ads.intra.fazenda.sp.gov.br/tfs/PRODUTOS/Suporte_DevOps" target="_blank" rel="noopener">
                Suporte_Devops
            </a>
            para solicitar suporte técnico.
        </li>
    </ul>

</section>