<section role="contentinfo" aria-labelledby="contato">
    <h1 id="contato">Fale conosco</h1>
    <div>
        <h2>Documentação</h2>
        Obtenha informações sobre essa aplicação no
        <a href="https://ads.intra.fazenda.sp.gov.br/tfs/PRODUTOS/Padroes_Desenvolvimento" target="_blank" rel="noopener">
            Projeto de Padrões de Desenvolvimento
        </a>.
    </div>
    <div>
        <h2>Suporte</h2>
        Para solicitar orientações e suporte:
        <ul>
            <li>
                Consulte sempre a
                <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Wiki_Arquitetura" target="_blank" rel="noopener">
                    Wiki de Arquitetura e Padrões do DTI
                </a>
                para obter informações sobre o ambiente tecnológico da Sefaz.
            </li>
            <li>
                ​​Abra um chamado no <a href="https://ads.intra.fazenda.sp.gov.br/tfs/PRODUTOS/Suporte_DevOps" target="_blank"
                                        rel="noopener">
                    Suporte_Devops
                </a>
                para solicitar suporte técnico.
            </li>
        </ul>
    </div>
</section>