<section>
    <h1>Modelo Sefaz de aplicação Asp Net Core com razor </h1>
    <p>Modelo de aplicação Asp NET Core e frontend Razor com uso dos padrões estabelecidos no Manual de Identidade do Governo do Estado de São Paulo.</p>
    Esse template inclui:
    <ul>
        <li>Folha de estilos SCSS</li>
        <li>Imagens</li>
        <li>Menus:</li>
        <ul>
            <li>Vertical - para acesso a recursos da aplicação, links internos e externos</li>
            <li>Popup - para informações e configuração da aplicação e de autenticação</li>
        </ul>
        <li>Layout com padrões da Sefaz</li>
        <li>Autenticação com:</li>
        <ul>
            <li>Sefaz Identity</li>
            <li>Azure AD</li>
            <li>Login Sefaz</li>
        </ul>
        <li>Breadcrumb - barra hierárquica de links da página aberta</li>
        <li>Consumo de API REST para manutenção de tabela com operações CRUD</li>
    </ul>
</section>