<section role="contentinfo" aria-labelledby="Titulo">
    <h1 id="Titulo">Aplicação exemplo Asp Net Core com razor </h1>
    <p>
        Exemplo de aplicação Asp NET Core MVC com uso dos
        <a href="https://ads.intra.fazenda.sp.gov.br/tfs/ADMIN/Wiki_Arquitetura/_wiki/wikis/Wiki_Arquitetura.wiki/592/Layout-Padr%C3%A3o-Sefaz" target="_blank" rel="noopener">
            padrões estabelecidos na Wiki de Arquitetura.
        </a>
    </p>
    Esse exemplo inclui:
    <ul>
        <li>Folha de estilos SCSS</li>
        <li>Imagens do CDN Sefaz</li>
        <li>
            Menus:
            <ul>
                <li>Vertical - para acesso a recursos da aplicação, links internos e externos</li>
                <li>Popup - para informações e configuração da aplicação e de autenticação</li>
            </ul>
        </li>
        <li>Layout com padrões estabelecidos pela Sefaz</li>
        <li>Autenticação com Sefaz Identity</li>
        <li>Breadcrumb - barra hierárquica de links da página aberta</li>
        <li>Consumo de API REST para manutenção de tabela com operações CRUD</li>
    </ul>
</section>