<section id="privacidade" aria-labelledby="titulo-privacidade">
    <h1 id="titulo-privacidade">Política de Privacidade</h1>
    <p>
        A Secretaria da Fazenda e Planejamento do Estado de São Paulo (SEFAZ) valoriza a privacidade das informações dos
        usuários e visitantes que utilizam nossos serviços. <br>
        Este documento, intitulado Política de Privacidade, tem como objetivo estabelecer as diretrizes
        sobre a coleta, uso e armazenamento de dados, bem como os registros das atividades realizadas em nossos sistemas
        e aplicações.
    </p>
    <div role="doc-acknowledgments">
        Para melhor compreensão desta política, são utilizadas as definições:
        <ul>
            <li>Cookies: Arquivos enviados por nossos serviços ao dispositivo dos usuários e visitantes
                para identificar o acesso e coletar dados de navegação, personalizando a experiência.</li>
            <li>Sistemas da SEFAZ: Incluem os sites e aplicações digitais da Secretaria da Fazenda.</li>
            <li>Usuário: Pessoa que acessa áreas restritas de nossos serviços mediante cadastro.</li>
            <li>Visitante: Pessoa que navega pelos sistemas e aplicações sem necessidade de cadastro.</li>
        </ul>
    </div>

    <section role="doc-acknowledgments" aria-labelledby="titulo-informacoes">
        <h2 id="titulo-informacoes">Sigilo das informações</h2>
        <p>
            A SEFAZ segue a <a href="https://legislacao.fazenda.sp.gov.br/Paginas/resf202012.aspx" target="_blank">
                Resolução SF Nº 20, de 14/03/2012
            </a>, que regula o acesso a informações protegidas por sigilo fiscal em sistemas informatizados. <br>
        </p>
        Os sistemas podem coletar informações pessoais e dados técnicos dos dispositivos utilizados por usuários e visitantes, que incluem informações:
        <ul>
            <li>fornecidas diretamente, como dados inseridos em formulários de cadastros ou identificação.</li>
            <li>
                coletadas automaticamente, como:
                <ul>
                    <li>Registro de acessos: endereço IP, data e hora de acesso, sistema operacional e navegador utilizados, provedor de internet e ações realizadas nos sistemas da SEFAZ.</li>
                    <li>Cookies: Utilizados para armazenar informações temporárias, aprimorando a navegação. </li>
                </ul>
            </li>
        </ul>
        Dados pessoais e outras informações sujeitas a sigilo contam com mecanismos de proteção que garantem a sua confidencialidade e integridade.
        <ul>
            <li>Acessados apenas por servidores autorizados, no cumprimento de suas atribuições.</li>
            <li>Utilizados exclusivamente para atender às necessidades institucionais da Secretaria da Fazenda. </li>
            <li>As informações recebidas não são utilizadas para fins comerciais ou particulares.</li>
            <li>Não são compartilhados dados pessoais com terceiros, exceto quando necessário para cumprimento de obrigações legais, decisões judiciais ou quando expressamente autorizado pelo titular.</li>
        </ul>
    </section>

    <section aria-labelledby="titulo-tecnologia">
        <h2 id="titulo-tecnologia">Aspectos tecnológicos</h2>
        <p>
            Essa Instituição investe continuamente na modernização tecnológica para garantir a segurança dos dados armazenados.<br>
            São empregadas soluções como certificação digital, políticas de segurança e outros mecanismos que protegem
            contra acessos, alterações, divulgações ou destruições não autorizadas.
        </p>
        <div aria-labelledby="titulo-retencao">
            <h3 id="titulo-retencao">Retenção e exclusão de dados</h3>
            <p>
                As informações coletadas são armazenadas pelo período necessário para cumprir as finalidades institucionais ou
                conforme exigido por lei. Dados pessoais podem ser excluídos ou anonimizados a pedido do titular ou quando não
                forem mais necessários para os fins a que se destinam, salvo obrigações legais em contrário.
            </p>
        </div>

        <div aria-labelledby="titulo-cookies">
            <h3 id="titulo-cookies">Uso de cookies</h3>
            <p>
                Além de personalizar a experiência de navegação, os cookies são utilizados para fins de segurança, como
                prevenção a fraudes e identificação de acessos não autorizados. Informações detalhadas sobre o uso de cookies
                podem ser consultadas em nossa política de cookies, disponível em nossos sistemas.<br>
                O bloqueio de cookies no navegador pode limitar funcionalidades das aplicações.
            </p>
        </div>
    </section>

    <section role="doc-acknowledgments" aria-labelledby="titulo-aspectos-legais">
        <h2 id="titulo-aspectos-legais">Aplicação da Política de Privacidade</h2>
        <p>
            Essa política se aplica aos sistemas e serviços da SEFAZ. <br>
            Alguns serviços podem ter políticas específicas ou complementares, com formas distintas de coleta e tratamento
            de dados, instalação de cookies e solicitação de informações adicionais. <br>
            Compete ao usuário verificar as condições de cada serviço antes de utilizá-lo.
        </p>
        <p>
            A SEFAZ garante aos usuários e visitantes o pleno exercício de seus direitos em relação aos dados coletados,
            em conformidade com a
            <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm" target="_blank">
                Lei Geral
                de Proteção de Dados Pessoais (Lei nº 13.709/2018)
            </a>.
        </p>
        Esses direitos incluem:
        <ul>
            <li>Solicitar a confirmação da existência de tratamento de dados pessoais.</li>
            <li>Acessar os dados pessoais coletados.</li>
            <li>Corrigir dados incompletos, inexatos ou desatualizados.</li>
            <li>
                Solicitar a anonimização, bloqueio ou eliminação de dados desnecessários ou tratados em desconformidade
                com a legislação.
            </li>
            <li>Revogar o consentimento para o uso de dados, quando aplicável.</li>
            <li>Solicitar informações sobre o compartilhamento de dados com terceiros, se ocorrer.</li>
        </ul>

        <div role="doc-part" aria-labelledby="titulo-disposicoes">
            <h2 id="titulo-disposicoes">Disposições gerais</h2>
            <p>
                A Política de Privacidade pode ser alterada a qualquer momento. Recomendamos que usuários e visitantes a
                consultem regularmente.
            </p>

        </div>

        <div role="doc-part" aria-labelledby="titulo-contato">
            <h2 id="titulo-contato">Contato</h2>
            Para exercer seus direitos ou solicitar esclarecimntos, entre em contato com:
            <ul>
                <li>
                    <a href="https://portal.fazenda.sp.gov.br/servicos/ouvidoria/Paginas/Sobre.aspx" target="_blank">
                        Ouvidoria
                        Fazendária
                    </a>.
                </li>
                <li>
                    <a href="https://portal.fazenda.sp.gov.br/Paginas/fale-conosco.aspx" target="_blank">Fale Conosco</a>.
                </li>
            </ul>
        </div>
    </section>
</section>