#aplicacao {
  display: flex;
  flex-direction: row;
}

#painelAplicacao {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#painelPrincipal {
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: auto;
  height: var(--altura-painelPrincipal);
}

#painelConteudo {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
}

#conteudo {
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0 0.5rem 1rem var(--cor-sombra);
}

#conteudo:focus {
  outline: none;
}

#topoDaPagina {
  display: none;
  text-align: right;
  margin: 1rem;
}

/*mobile*/
@media (max-width: 767.98px) {
  #aplicacao {
    display: block;
  }
  #painelAplicacao {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #painelPrincipal {
    padding: 0;
    margin: 0 0 1rem 0;
    height: calc(var(--altura-painelPrincipal) * 0.8);
  }
  #painelPrincipal.oculto {
    display: none;
  }
  #painelConteudo {
    padding: 0;
  }
  #conteudo {
    border-style: none;
    box-shadow: none !important;
  }
}
