.botoes {
    display: flex;
    flex-direction: row;
    margin: 1em 0 0 0;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--largura-botao);
    height: 3em;
    box-shadow: -2px 5px 10px var(--cor-sombra);
    border-color: var(--cor-sombra);
    border-style: solid;
    border-block-width: thin;
    margin-right: 0.5em;

    a {
        text-decoration: none;
        color: inherit;
    }

    &:hover,
    &:focus {
        color: var(--cor-primaria-texto);
        background-color: var(--cor-botao-selecionado);
    }
}
