#barraBotoes {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    width: 100%;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: var(--largura-botao);
    height: 3em;
    box-shadow: -2px 5px 10px var(--cor-sombra);
    border: thin solid var(--cor-sombra);
    margin-right: 0.5em;
    transition: color 0.3s, background-color 0.3s;

    a {
        text-decoration: none;
        color: inherit;
    }

    span {
        margin-left: 0.5em;
    }

    &:hover,
    &:focus {
        color: var(--cor-primaria-texto);
        background-color: var(--cor-botao-selecionado);
    }
}

.btn-regular {
    display: flex;
    align-items: center;
    color: var(--cor-secundaria);
    fill: var(--cor-secundaria);
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}