#navBreadcrumb {
    text-decoration: none;
    height: 2.15rem;
    margin: 1.5rem 0 0 0;
}

.breadcrumb {
}

.breadcrumb-item > a {
    text-decoration: none;
    color: #17629E;
}

.breadcrumb-item {
    font-size: min(16px, 6vw);
    font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item {
    padding: 0;

    &::before {
        padding: 0 4px 0 7px;
        content: ">";
    }
}

@media(max-width: 767.99px) {
    .breadcrumb {
        margin: 0.5em;
    }

    li.breadcrumb-item span {
        display: block;
    }

    .breadcrumb-item {
        width: unset;
        display: list-item !important;
        font-size: 16px;
    }
}
