.painel_cabecalho {
  margin-left: 0.5em;
}

#cabecalho_mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: calc(var(--altura-barra_acessibilidade) + var(--altura-cabecalho) + 0.5em);
  z-index: 2;
}

#tituloCabecalho {
  display: flex;
  flex-direction: row;
  height: var(--altura-cabecalho);
  font-size: 1.5rem;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  box-shadow: -5px 10px 15px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
}

#tituloApp {
  display: block;
  flex-grow: 1;
  color: var(--cor-primaria);
  font-size: 1.5rem;
  transition: opacity 0.3s;
  align-items: center;
}

/*desktop*/
@media (min-width: 767.99px) {
  #cabecalho-desktop {
    display: block;
  }
  #tituloSefaz,
  #tituloBrasao,
  #itens_popup,
  #cabecalho_mobile,
  #botao-hamburguinho {
    display: none;
  }
}
/*mobile*/
@media (max-width: 767.98px) {
  .painel_cabecalho {
    margin-left: 0;
    flex: 1;
    flex-grow: 1;
  }
  #cabecalho_mobile {
    display: block;
  }
  #cabecalho-desktop {
    display: none;
  }
  #tituloCabecalho {
    background-color: var(--cor-primaria);
    padding: 0.5em 1em;
    justify-content: space-between;
    box-shadow: none;
  }
  #tituloBrasao {
    display: block;
    height: 2.3em;
    width: auto;
  }
  #tituloApp {
    display: none;
  }
  #tituloSefaz {
    display: block;
    margin-left: 0.5em;
    color: var(--cor-fundo);
    font-size: 1.3rem;
    transition: opacity 0.3s;
    align-items: center;
  }
  #botao-hamburguinho {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--cor-invertida-texto);
  }
}
