.painel_cabecalho {
  margin: 0;
}

#tituloCabecalho {
  display: flex;
  flex-direction: row;
  height: var(--altura-Titulo-Desktop);
  font-size: 1rem;
  align-items: center;
  padding: 1rem 1.5rem 1rem 1rem;
  width: 100%;
  box-shadow: 0 0.5rem 1rem var(--cor-sombra);
  border-style: none;
}

#tituloApp {
  display: block;
  flex-grow: 1;
  color: var(--cor-primaria);
  font-size: 1rem;
  transition: opacity 0.3s;
  align-items: center;
}

#subtitulo {
  color: var(--cor-primaria);
  font-size: 0.9rem;
  margin: 0.5em;
  text-align: right;
}

#brasaoPainel {
  display: flex;
  align-items: center;
  margin-top: 1.75rem;
}
#brasaoPainel #orgao {
  font-family: Verdana, sans-serif;
  font-size: 0.6875rem;
  padding-left: 0.63rem;
  color: var(--cor-fundo);
  font-weight: 100;
  transition: opacity 0.3s;
}

.fundoBrasao {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor-menu-invertida-texto);
  height: 4rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0 17px 0 10px;
}
.fundoBrasao .brasao {
  width: 2.5rem;
  height: 2.9rem;
  transition: opacity 0.3s;
}

#botao_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
  color: var(--cor-invertida-texto);
  background-color: var(--cor-apoio-vermelho);
}
#botao_popup.dropdown-toggle::after {
  display: none;
}

#usuarioAutenticado {
  font-size: 0.7rem;
  margin: 0.5em 0.5em 0 0;
  text-align: center;
}

@media (min-width: 767.99px) {
  #cabecalho-desktop {
    display: block;
  }
  #fundoBrasaoMobile,
  #tituloSefaz,
  #cabecalho_mobile,
  #botao-hamburguinho {
    display: none;
  }
}
@media (max-width: 767.98px) {
  #cabecalho-desktop,
  #brasaoPainel,
  #fundoBrasaoDesktop,
  #tituloApp {
    display: none;
  }
  .painel_cabecalho {
    margin-left: 0;
    flex: 1;
    flex-grow: 1;
  }
  #tituloCabecalho {
    background-color: var(--cor-primaria);
    padding: 0.5em 1em;
    justify-content: space-between;
    box-shadow: none;
    border: none;
  }
  #subtitulo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #tituloSefaz,
  #usuarioAutenticado {
    display: block;
    color: var(--cor-fundo);
    transition: opacity 0.3s;
    margin: 0;
    text-align: left;
  }
  #tituloSefaz {
    font-size: 0.75rem;
    line-height: 1;
    font-weight: 500;
  }
  #usuarioAutenticado {
    font-size: 0.4rem;
  }
  #botao-hamburguinho {
    display: block;
    font-size: 2rem;
    cursor: pointer;
    color: var(--cor-invertida-texto);
  }
  .fundoBrasao {
    width: 3.19rem;
    height: 2.85rem;
    padding: 0 17px 0 10px;
  }
  .fundoBrasao .brasao {
    height: 1.73rem;
    width: 1.5rem;
  }
}
