.painel_cabecalho {
    margin: 0 0 0 1em;
}

#tituloCabecalho {
    display: flex;
    flex-direction: row;
    height: var(--altura-Titulo-Desktop);
    font-size: 1.5rem;
    align-items: center;
    padding-right: 0.5em;
    width: 100%;
    box-shadow: -5px 10px 15px var(--cor-sombra);
    border-color: var(--cor-borda-clara);
    border-style: solid;
    border-block-width: thin;
}

#tituloApp {
    display: block;
    flex-grow: 1;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    transition: opacity 0.3s;
    align-items: center;
}

#subtitulo {
    color: var(--cor-primaria);
    font-size: 0.9rem;
    margin: 0.5em;
    text-align: right;
}

#brasaoPainel {
    display: flex;
    align-items: center;
    margin-top: 1.75rem;

    #orgao {
        font-family: Verdana, sans-serif;
        font-size: 0.6875rem;
        padding-left: 0.63rem;
        color: var(--cor-fundo);
        font-weight: 100;
        transition: opacity 0.3s;
    }
}

.fundoBrasao {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-menu-invertida-texto);
    width: 4.25rem;
    height: 4rem;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-right: 17px;
    padding-left: 10px;

    .brasao {
        width: 2.5rem;
        height: 2.9rem;
        transition: opacity 0.3s;
    }
}

/*desktop*/
@media (min-width: 767.99px) {
    #cabecalho-desktop {
        display: block;
    }

    #fundoBrasaoMobile,
    #tituloSefaz,
    #cabecalho_mobile,
    #botao-hamburguinho {
        display: none;
    }
}

/*mobile*/
@media (max-width: 767.98px) {
    #cabecalho-desktop,
    #brasaoPainel,
    #fundoBrasaoDesktop,
    #tituloApp {
        display: none;
    }

    .painel_cabecalho {
        margin-left: 0;
        flex: 1;
        flex-grow: 1;
    }

    #tituloCabecalho {
        background-color: var(--cor-primaria);
        padding: 0.5em 1em 0.5em 0;
        justify-content: space-between;
        box-shadow: none;
        border: none;
    }

    #subtitulo {
        display: flex;
        flex-direction: column;
    }

    #tituloSefaz,
    #usuarioAutenticado {
        display: block;
        color: var(--cor-fundo);
        font-size: 1.3rem;
        transition: opacity 0.3s;
        align-items: center;
    }

    #tituloSefaz {
        text-align: center;
        line-height: 1;
        margin: 0;
    }

    #usuarioAutenticado {
        font-size: 0.7rem;
        margin: 0.5em 0.5em 0 0;
        text-align: center;
    }

    #botao-hamburguinho {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--cor-invertida-texto);
    }

    .fundoBrasao {
        width: 3.19rem;
        height: 2.85rem;
        padding-right: 17px;
        padding-left: 10px;

        .brasao {
            height: 1.73rem;
            width: 1.5rem;
        }
    }
}
