#itens_menu {
  display: flex;
  flex-direction: column;
}

#itens_nav {
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  margin: 7px 0 4px 0;
  transition: background-color 0.3s;
}

.menu-divider {
  border: 0;
  height: 1px;
  background: var(--cor-primaria-texto);
  margin: 10px 0;
}

.botaoMenu {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: left;
  font-size: 0.75rem;
  color: var(--cor-menu-invertida-texto);
  line-height: var(--altura-botao-menu);
  margin: 0.5rem 1rem;
  padding-left: 0.61rem;
  background-color: transparent;
  border-radius: calc(var(--altura-botao-menu) / 2);
  height: var(--altura-botao-menu);
}
.botaoMenu:hover, .botaoMenu:focus, .botaoMenu.selecionado {
  background-color: var(--cor-fundo-hover);
  color: var(--cor-menu-texto);
  outline: none;
}
.botaoMenu:hover span, .botaoMenu:hover em, .botaoMenu:focus span, .botaoMenu:focus em, .botaoMenu.selecionado span, .botaoMenu.selecionado em {
  color: var(--cor-primaria);
}
.botaoMenu:focus {
  outline: solid;
  outline-style: auto;
  outline-width: 1px;
  font-weight: bold;
}
.botaoMenu em {
  margin: 0 1em;
  font-size: 1.25em;
  text-align: center;
  width: 0.81rem;
}

#menu_lateral {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: var(--margem-superior_menu);
  /*Desktop*/
}
@media (min-width: 767.99px) {
  #menu_lateral #itens_popup {
    display: none;
  }
}

/*desktop*/
@media (min-width: 767.99px) {
  #painel_lateral.recolhido #menu_lateral .botaoMenu {
    height: var(--altura-botao-menu-recolhido);
    border-radius: calc(var(--altura-botao-menu-recolhido) / 10);
    flex-direction: column;
    font-size: 0.5rem;
    text-align: center;
    padding-top: calc(var(--altura-botao-menu-recolhido) / 6);
    margin: 0.25rem 0.25rem;
    padding-left: 0;
  }
  #painel_lateral.recolhido #menu_lateral .botaoMenu em {
    margin-top: 0.25rem;
    font-size: 1rem;
    width: auto;
  }
  #painel_lateral.recolhido #menu_lateral .botaoMenu span {
    line-height: normal;
    margin-top: 0.25rem;
  }
}
#menu_popup {
  display: block;
  position: absolute;
  right: 2rem;
  top: 4.3rem;
  background-color: var(--cor-fundo);
  width: 10rem;
  border-radius: 8px;
  border: 1px solid var(--cor-apoio-cinza-claro);
  box-shadow: 2px 4px 6px var(--cor-sombra);
  padding: 0.5rem;
}
#menu_popup.oculto {
  display: none;
}
#menu_popup #itens_menu {
  display: flex;
  flex-direction: row;
}
#menu_popup #itens_menu .botaoMenu {
  font-size: 0.7rem;
  color: var(--cor-primaria-texto);
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 1.5rem;
}
#menu_popup #itens_menu .botaoMenu:hover, #menu_popup #itens_menu .botaoMenu:focus, #menu_popup #itens_menu .botaoMenu.selecionado {
  background-color: var(--cor-fundo-hover-popup);
}
#menu_popup #itens_menu #itens_nav {
  display: none;
}
#menu_popup #itens_menu #itens_popup {
  display: block;
  margin: 0;
  width: 100%;
}

#botao_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6em;
  width: 1.6em;
  border-radius: 0.8em;
  cursor: pointer;
  color: var(--cor-invertida-texto);
  background-color: var(--cor-apoio-vermelho);
  border: solid thin;
  border-color: var(--cor-apoio-vermelho);
}
#botao_popup.dropdown-toggle::after {
  display: none;
}

#iniciais_popup {
  font-size: 0.7em;
  font-style: normal;
}

/*mobile*/
@media (max-width: 767.98px) {
  #menu_popup,
  #botao_popup {
    display: none;
  }
  #itens_popup {
    display: block;
  }
  .botaoMenu {
    width: 100%;
    text-align: center;
    padding-right: 0.5em;
    margin: 0.5rem 0;
    border-radius: 0;
    font-size: 0.8rem;
  }
  .menu-divider {
    background: var(--cor-invertida-texto);
    margin: 0.7rem 1rem;
  }
}
