#menu_lateral {
    height: 100%;
    display: flex;
    flex-direction: column;

    li {
        display: block;
        margin: 5px 0;
        padding: 10px;
        background-color: transparent;
        border-radius: 1.7em;

        a {
            text-decoration: none;

            &.selected {
                color: var(--cor-menu-texto);
                background-color: var(--cor-fundo-selecionado);
            }
        }

        em {
            font-size: 1.7em;
        }

        a, em {
            color: var(--cor-menu-invertida-texto);
        }

        &:hover,
        &:focus {
            background-color: var(--cor-fundo-hover);
            color: var(--cor-menu-texto);
            outline: none;

            a, em {
                color: var(--cor-menu-texto);
            }
        }
    }
}

/*Desktop*/
@media (min-width: 767.99px) {
    #painel_lateral.recolhido {
        li {
            border-radius: 0.8em;
            border-radius: 1.5em;
            text-align: center;

            a {
                margin-top: 0.3em;
                font-size: 0.7em;
            }
        }
    }
}

#itens_popup {
    display: none;
}

#quebra_linha {
    border-top: 1px solid #ccc;
    margin: 5px 0;
    background-color: transparent;
}

#itens_nav {
    display: block;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#itens_popup {
    a {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        text-decoration: none;
        color: var(--cor-principal);
        background-color: transparent;
        padding: 10px;
        border-radius: 5px;
        font-size: 0.9rem;

        &:hover {
            background-color: #ccc;
            cursor: pointer;
        }
    }
}

#menu_popup {
    display: block;
    position: absolute;
    right: 20px;
    top: 100px;
    background-color: var(--cor-fundo);
    min-width: 180px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-apoio-cinza-claro);
    box-shadow: 2px 4px 6px var(--cor-sombra);

    #itens_nav {
        display: none;
    }

    #itens_popup {
        display: block;
    }

    #itens_menu {
        display: flex;
        flex-direction: row;
    }

    &.oculto {
        display: none;
    }
}

#botao_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6em;
    width: 1.6em;
    border-radius: 0.8em;
    cursor: pointer;
    color: var(--cor-invertida-texto);
    background-color: var(--cor-primaria);
    border: solid thin;
    border-color: var(--cor-primaria);

    &.dropdown-toggle::after {
        display: none;
    }
}

#iniciais_popup {
    font-size: 0.8em;
    font-style: normal;
}

/*mobile*/
@media (max-width: 767.98px) {
    #menu_popup,
    #botao_popup {
        display: none;
    }

    #itens_popup {
        display: block;
    }

    #quebra_linha {
        background-color: var(--cor-fundo);
    }

    #itens_nav, #itens_popup {
        a {
            width: 100%;
            text-align: center;
        }
    }
}
