#menuLateral {
  margin-top: var(--margem-superior-menu);
}
#menuLateral li {
  padding: 0.2rem 0.5rem;
}

.botaoMenu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  text-align: left;
  font-size: 0.75rem;
  color: var(--cor-menu-invertida-texto);
  line-height: var(--altura-botao-menu);
  margin: 0;
  padding-left: 0.61rem;
  background-color: transparent;
  border: none;
  border-radius: calc(var(--altura-botao-menu) / 2);
  height: var(--altura-botao-menu);
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.botaoMenu:hover, .botaoMenu:focus, .botaoMenu.selecionado {
  background-color: var(--cor-fundo-hover);
  color: var(--cor-menu-texto);
  outline: none;
}
.botaoMenu:hover span, .botaoMenu:hover em, .botaoMenu:focus span, .botaoMenu:focus em, .botaoMenu.selecionado span, .botaoMenu.selecionado em {
  color: var(--cor-primaria);
}
.botaoMenu:focus {
  outline: 3px solid var(--cor-foco);
  outline-offset: 0;
}
.botaoMenu em {
  margin: 0 1em;
  font-size: 1.25em;
  text-align: center;
  width: 0.81rem;
}

#itensNav {
  display: block;
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  margin: 7px 0 4px 0;
  transition: background-color 0.3s;
}

#menuPopup {
  display: block;
  position: absolute;
  right: 2rem;
  top: 4.3rem;
  background-color: var(--cor-fundo);
  width: 10rem;
  border-radius: 8px;
  border: 1px solid var(--cor-apoio-cinza-claro);
  box-shadow: 2px 4px 6px var(--cor-sombra);
  padding: 0.5rem;
  transition: display 0.3s;
}
#menuPopup.oculto {
  display: none;
}
#menuPopup .botaoMenu {
  font-size: 0.7rem;
  color: var(--cor-primaria-texto);
  border-radius: 0;
  padding: 0;
  margin: 0;
  height: 1.5rem;
}
#menuPopup .botaoMenu:hover, #menuPopup .botaoMenu:focus, #menuPopup .botaoMenu.selecionado {
  background-color: var(--cor-fundo-hover-popup);
}
#menuPopup #itensNav {
  display: none;
}
#menuPopup #itensPopup {
  display: block;
  margin: 0;
  width: 100%;
}
#menuPopup span {
  line-height: normal;
}

#iniciaisPopup {
  font-size: 0.7rem;
  font-style: normal;
}

.menuDivider {
  border: 0;
  height: 1px;
  background: var(--cor-primaria-texto);
  margin: 10px 0;
}

@media (min-width: 767.99px) {
  #menuLateral #itensPopup {
    display: none;
  }
  #painelLateral.recolhido #menuLateral .botaoMenu {
    height: var(--altura-botao-menu-recolhido);
    border-radius: calc(var(--altura-botao-menu-recolhido) / 10);
    flex-direction: column;
    text-align: center;
    padding: 0.3rem 0 0 0;
  }
  #painelLateral.recolhido #menuLateral .botaoMenu em {
    margin-top: 0.1rem;
    font-size: 1.2rem;
    width: auto;
  }
  #painelLateral.recolhido #menuLateral .botaoMenu span {
    line-height: normal;
    margin-top: 0.25rem;
    font-size: 0.6rem;
  }
  #painelLateral.recolhido #menuLateral li {
    padding: 0.3rem;
  }
}
@media (max-width: 767.98px) {
  #menuPopup,
  #botaoPopup {
    display: none;
  }
  #itensPopup {
    display: block;
  }
  .botaoMenu {
    text-align: center;
    padding-right: 0.5em;
    border-radius: 0;
    font-size: 0.8rem;
  }
  .menuDivider {
    background: var(--cor-invertida-texto);
    margin: 0.7rem 1rem;
  }
}
