#menu_lateral {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#menu_lateral .botaoMenu {
  display: block;
  margin: 5px 0;
  background-color: transparent;
  border-radius: calc(var(--altura-botao-menu) / 2);
  height: var(--altura-botao-menu);
}
#menu_lateral .botaoMenu:hover, #menu_lateral .botaoMenu:focus {
  background-color: var(--cor-fundo-hover);
  color: var(--cor-menu-texto);
  outline: none;
}
#menu_lateral .botaoMenu:hover a, #menu_lateral .botaoMenu:hover em, #menu_lateral .botaoMenu:focus a, #menu_lateral .botaoMenu:focus em {
  color: var(--cor-menu-texto);
}
#menu_lateral .botaoMenu a {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-align: left;
  font-size: 0.75rem;
  color: var(--cor-menu-invertida-texto);
  line-height: var(--altura-botao-menu);
  margin: 0;
}
#menu_lateral .botaoMenu a.selected {
  color: var(--cor-menu-texto);
  background-color: var(--cor-fundo-selecionado);
}
#menu_lateral .botaoMenu a em {
  margin: 0 1em;
  font-size: 1.7em;
  text-align: center;
}

/*Desktop*/
#itens_nav {
  display: block;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

#itens_popup {
  display: none;
  width: 100%;
}
#itens_popup a {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--cor-principal);
  background-color: transparent;
  padding: 8px;
  border-radius: 16px;
  font-size: 0.9rem;
}
#itens_popup a:hover {
  background-color: #ccc;
  cursor: pointer;
}

#menu_popup {
  display: block;
  position: absolute;
  right: 20px;
  top: 100px;
  background-color: var(--cor-fundo);
  min-width: 180px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--cor-apoio-cinza-claro);
  box-shadow: 2px 4px 6px var(--cor-sombra);
}
#menu_popup .fas {
  padding-right: 0.5em;
}
#menu_popup #itens_nav {
  display: none;
}
#menu_popup #itens_popup {
  display: block;
}
#menu_popup #itens_menu {
  display: flex;
  flex-direction: row;
}
#menu_popup #itens_menu a {
  display: flex;
  align-items: center;
}
#menu_popup.oculto {
  display: none;
}

#botao_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6em;
  width: 1.6em;
  border-radius: 0.8em;
  cursor: pointer;
  color: var(--cor-invertida-texto);
  background-color: var(--cor-primaria);
  border: solid thin;
  border-color: var(--cor-primaria);
}
#botao_popup.dropdown-toggle::after {
  display: none;
}

#iniciais_popup {
  font-size: 0.8em;
  font-style: normal;
}

/*mobile*/
@media (max-width: 767.98px) {
  #menu_popup,
  #botao_popup {
    display: none;
  }
  #itens_popup {
    display: block;
  }
  #itens_nav a, #itens_popup a {
    width: 100%;
    text-align: center;
  }
  #itens_nav .fas, #itens_popup .fas {
    padding-right: 0.5em;
  }
}
