#menu_lateral {
    height: 100%;
    display: flex;
    flex-direction: column;

    .botaoMenu {
        display: block;
        margin: 5px 0;
        background-color: transparent;
        border-radius: calc(var(--altura-botao-menu)/2);
        height: var(--altura-botao-menu);

        &:hover,
        &:focus {
            background-color: var(--cor-fundo-hover);
            color: var(--cor-menu-texto);
            outline: none;

            a, em {
                color: var(--cor-menu-texto);
            }
        }

        a {
            display: flex;
            align-items: center;
            text-decoration: none;
            text-align: left;
            font-size: 0.75rem;
            color: var(--cor-menu-invertida-texto);
            line-height: var(--altura-botao-menu);

            &.selected {
                color: var(--cor-menu-texto);
                background-color: var(--cor-fundo-selecionado);
            }

            em {
                margin: 0 1em;
                font-size: 1.7em;
                text-align: center;
            }

            margin: 0;
        }
    }
}

/*Desktop*/
#itens_nav {
    display: block;
    background-color: transparent;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

#itens_popup {
    display: none;
    width: 100%;

    a {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        text-decoration: none;
        color: var(--cor-principal);
        background-color: transparent;
        padding: 8px;
        border-radius: 16px;
        font-size: 0.9rem;

        &:hover {
            background-color: #ccc;
            cursor: pointer;
        }
    }
}

#menu_popup {
    display: block;
    position: absolute;
    right: 20px;
    top: 100px;
    background-color: var(--cor-fundo);
    min-width: 180px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--cor-apoio-cinza-claro);
    box-shadow: 2px 4px 6px var(--cor-sombra);

    .fas {
        padding-right: 0.5em;
    }

    #itens_nav {
        display: none;
    }

    #itens_popup {
        display: block;
    }

    #itens_menu {
        display: flex;
        flex-direction: row;

        a {
            display: flex;
            align-items: center;
        }
    }

    &.oculto {
        display: none;
    }
}

#botao_popup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.6em;
    width: 1.6em;
    border-radius: 0.8em;
    cursor: pointer;
    color: var(--cor-invertida-texto);
    background-color: var(--cor-primaria);
    border: solid thin;
    border-color: var(--cor-primaria);

    &.dropdown-toggle::after {
        display: none;
    }
}

#iniciais_popup {
    font-size: 0.8em;
    font-style: normal;
}

/*mobile*/
@media (max-width: 767.98px) {
    #menu_popup,
    #botao_popup {
        display: none;
    }

    #itens_popup {
        display: block;
    }

    #itens_nav, #itens_popup {
        a {
            width: 100%;
            text-align: center;
        }

        .fas {
            padding-right: 0.5em;
        }
    }
}
