.tabela {
  color: var(--cor-primaria-texto);
  width: 100%;
  padding: 0 0.2em 0 0;
  margin-top: 0.5rem;
  border: none;
  overflow-y: auto;
  max-height: calc(79vh - var(--desconto));
}
.tabela td, .tabela th {
  border: 1px solid #DDD;
  padding: 0.2em 1em;
  height: auto;
  margin: 0.2em 0;
}
.tabela tbody {
  max-height: calc(79vh - var(--desconto));
}
.tabela .tabela-botoes {
  padding: 0;
  display: flex;
  justify-content: center;
}
.tabela .tabela-botoes button {
  border: none;
  background-color: transparent;
  color: var(--cor-primaria);
  padding: 0;
  font-size: 1.2rem;
}
.tabela .tabela-botoes button i {
  margin: 0 0.2rem;
}
.tabela .tabela-botoes .tabela-botao-alterar {
  color: var(--cor-apoio-verde);
}
.tabela .tabela-botoes .tabela-botao-consultar {
  color: var(--cor-primaria);
}
.tabela .tabela-botoes .tabela-botao-excluir {
  color: var(--cor-apoio-vermelho);
}
.tabela .coluna-botoes {
  width: 7rem;
  border: none;
}
.tabela .barraCabecalhoFormulario {
  display: flex;
  justify-content: right;
}
.tabela .claims th, .tabela td, .tabela dd, .tabela dt {
  text-align: left;
  height: auto;
  border: none;
  margin: 0;
}
.tabela .claims dt {
  margin-top: 0.5em;
}
.tabela .formulario {
  max-width: 50em;
}
.tabela .campoNumerico {
  text-align: right;
}
.tabela .campoTexto {
  text-align: left;
  margin-left: 0.5em;
}
.tabela .align-middle {
  vertical-align: middle;
}
.tabela .control-label {
  margin-left: 0.75em;
  color: var(--cor-primaria);
}

.paginacao {
  font-size: 0.8rem;
}
.paginacao .page-link:disabled {
  border: 1px solid #ccc;
  color: #ccc;
  background-color: #f7f7f7;
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}

@media (min-width: 767.98px) {
  .tabela th, .tabela dt {
    padding: 0.2em 1em;
    margin: 0.2em 0;
  }
  .form-control {
    margin-bottom: 0.5em;
  }
}
@media (max-width: 767.98px) {
  .tabela {
    display: inline-flex;
    flex-direction: column;
    color: var(--cor-primaria-texto);
    width: 100%;
    padding: 0.5em;
    border: none;
  }
  .form-group {
    padding: 0.5em 0;
  }
  th, dt {
    border: none;
    background-color: var(--cor-invertida-texto);
    color: var(--cor-primaria);
    padding: 0.7em 0 0 0;
    text-align: left;
  }
  td, dd {
    border: 1px solid #DDD;
    height: auto;
    padding: 0.4em 0;
  }
  .control-label {
    text-align: left;
  }
  .formulario {
    max-width: 100%;
  }
  .paginacao {
    font-size: 0.7rem;
  }
}
