#tabela_dados {
  margin: 0.5em;
}

.tabela {
  border: 1px solid #DDD;
  color: var(--cor-primaria-texto);
  width: 100%;
}

.tabela th {
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
  height: var(--altura-linha);
  color: var(--cor-invertida-texto);
  padding: 0 1em;
}

.tabela td {
  border: 1px solid #DDD;
  height: var(--altura-linha);
  padding: 0 1em;
}

.campoNumerico {
  text-align: right;
}

.campoTexto {
  text-align: left;
  margin-left: 0.5em;
}

#tabela-botao-adicionar {
  width: var(--largura-botao);
  box-shadow: -2px 5px 10px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
  margin: 0.5em;

  a {
    text-decoration: none;
    color: var(--cor-botao-texto);
  }

  i {
    margin-right: 0.5em;
    color: var(--cor-botao-texto);
  }
}

.tabela-botoes {
  width: 8em;
  text-align: center;

  a {
    padding: 0 0.2em;
    font-size: 1.2rem;
    border-radius: 5px;

    &:hover,
    &:focus {
      color: var(--cor-primaria-texto);
      box-shadow: -2px 5px 10px var(--cor-sombra);
      background-color: var(--cor-sombra);
    }
  }

  #tabela-botao-alterar {
    color: var(--cor-apoio-verde);
  }

  #tabela-botao-consultar {
    color: var(--cor-primaria);
  }

  #tabela-botao-excluir {
    color: var(--cor-apoio-vermelho);
  }
}

.btn:hover {
  background-color: var(--cor-borda-clara);
  border-color: var(--cor-sombra);
}

@media (max-width: 767.99px) {
  .tabela-botoes {
    width: 2em;
  }
}
