@using modelo_core_mvc.projetos;
@model modelo_core_mvc.projetos.ProjetosModel

<h1>@ViewData["Message"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adicionar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" maxlength="20" required class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" required class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <partial name="_Botoes" model='new Tuple<string, string, string, string>("Salvar", "", "", "Cancelar")' />
        </form>
    </div>
</div>

<div>
</div>

