.demonstrar-cor {
    width: 85%;
    height: 2.5rem;
    border-radius: 4px;
}

.demonstrar-cor-primaria {
    border-radius: 4px;
    /* width: 20%; */
    height: 2.5rem;
    background-color: var(--cor-primaria);
}

.cor-apoio-azul{
    background-color: var(--cor-apoio-azul);
}

.cor-apoio-azul-claro{
    background-color: var(--cor-apoio-azul-claro);
}

.cor-apoio-vermelho{
    background-color: var(--cor-apoio-vermelho);
}

.cor-apoio-verde{
    background-color: var(--cor-apoio-verde);
}

.cor-apoio-dourado{
    background-color: var(--cor-apoio-dourado);
}

.cor-apoio-preto{
    background-color: var(--cor-apoio-preto);
}
.color-blind .shadow{
    box-shadow: inset 0px 0px 0px 2px rgb(255 255 255) !important
}