:root {
    --tamanho-fonte-base: 16px;
    --largura-menu-expandido: 13rem;
    --largura-menu-recolhido: 4.5rem;
    --largura-botao_expandir: 1.2rem;
    --largura-botao: 12em;
    --largura-botao-menu: 11rem;
    --largura-botao-menu-recolhido: 4rem;
    --altura-botao-menu: 2.63rem;
    --altura-botao-menu-recolhido: 3.75rem;
    --altura-barra_acessibilidade: 1.75rem;
    --altura-Titulo-Desktop: 3.5rem;
    --margem-superior_menu: 3.45rem;
    --desconto: 13em;
    --cor-primaria: #17629e;
    --cor-primaria-texto: black;
    --cor-invertida-texto: white;
    --cor-secundaria: #f1f5f7;
    --cor-menu-texto: black;
    --cor-menu-invertida-texto: white;
    --cor-apoio-verde: #006723;
    --cor-apoio-vermelho: #bc5000;
    --cor-apoio-cinza-claro: rgba(200, 200, 200, 0.8);
    --cor-fundo: white;
    --cor-fundo-hover: white;
    --cor-fundo-selecionado: #b5afed;
    --cor-borda-clara: rgba(200, 200, 200, 0.3);
    --cor-sombra: rgba(200, 200, 200, 0.7);
    --cor-botao-sucesso: #009432;
    --cor-botao-cancelar: white;
    --cor-botao-danger: red;
    --cor-botao-texto: black;
    --cor-botao-selecionado: rgba(200, 200, 200, 0.7);
    --cor-invertida-botao-texto: white;
}

html {
    font-size: var(--tamanho-fonte-base);

    @media (max-width: 767.98px) {
        font-size: calc(var(--tamanho-fonte-base) * 0.75);
    }
}

.titulo_formulario {
  font-size: 1.3rem;
  font-weight: bold;
}
