:root {
  --tamanho-fonte-base: 16px;
  --largura-menu-expandido: 13rem;
  --largura-menu-recolhido: 4.5rem;
  --largura-botaoExpandir: 1.2rem;
  --largura-botao: 12rem;
  --largura-botao-menu: 11rem;
  --largura-botao-menu-recolhido: 4rem;
  --altura-botao-menu: 2.63rem;
  --altura-botao-menu-recolhido: 3.75rem;
  --altura-barraAcessibilidade: 2rem;
  --altura-Titulo-Desktop: 3.5rem;
  --margem-superior-menu: 3.7rem;
  --desconto: 13rem;
  --cor-primaria: #17629e;
  --cor-primaria-texto: black;
  --cor-invertida-texto: white;
  --cor-secundaria: #f1f5f7;
  --cor-menu-texto: black;
  --cor-menu-invertida-texto: white;
  --cor-apoio-verde: #006723;
  --cor-apoio-vermelho: #bc5000;
  --cor-apoio-cinza-claro: rgba(200, 200, 200, 0.8);
  --cor-fundo: white;
  --cor-fundo-hover: white;
  --cor-fundo-hover-popup: rgb(226, 237, 248);
  --cor-fundo-selecionado: #b5afed;
  --cor-borda-clara: rgba(200, 200, 200, 0.3);
  --cor-sombra: rgba(0, 0, 0, .15);
  --cor-botao-sucesso: #009432;
  --cor-botao-cancelar: white;
  --cor-botao-danger: red;
  --cor-botao-texto: black;
  --cor-botao-selecionado: rgba(200, 200, 200, 0.7);
  --cor-invertida-botao-texto: white;
  --cor-foco: yellow;
}
