@charset "UTF-8";
.breadcrumb-item + .breadcrumb-item::before {
  content: url(../assets/chevron_right_FILL0_wght400_GRAD0_opsz48.svg);
  font-weight: bolder;
  color: var(--cor-primaria);
}

#breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item {
  padding-left: 0;
}
#breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  padding: 0 4px;
}

input[type=search i]#search-bar::-webkit-search-cancel-button {
  display: none;
}

.btn-group {
  align-items: center;
}

#ul-raiz .nav-link {
  font-size: 0.75rem;
  transition: none;
}

.menu-lateral-aberto #ul-raiz .nav-link {
  border-radius: 40px;
  padding: 14px 10px 10px 10px;
  margin-bottom: -10.97px;
  margin-top: -9px;
  transition: none;
}

#navbarSupportedContent {
  height: 600px;
}

.breadcrumb-item.active {
  color: #4f565c;
}

.navbar-supported-content-fechado {
  justify-content: center;
}

h1 {
  font-size: 0.938rem;
  color: var(--cor-primaria);
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
  color: #000;
  margin: 30px 0px 9px 0px;
}

h5 {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--cor-primaria);
  margin: 30px 0px 9px 0px;
}

h2.h6,
h3.h6 {
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--cor-primaria);
  margin: 30px 0 9px 0;
}

code {
  color: #a02663;
}

.header {
  padding: 4.8px 4.8px 4.8px 25.6px !important;
  background-color: white;
  border: solid 1px #efefef;
}

p {
  font-size: 0.813rem;
  margin: 0 0 36px 0;
  color: #585858;
}

small {
  font-size: 0.75rem;
}

.dropdown-item {
  width: -webkit-fill-available !important;
}

.largura-input:hover {
  border: 1px solid var(--cor-primaria);
}

li.breadcrumb-item.active::before {
  vertical-align: middle;
}

.setinha-d-none::after {
  display: none;
}

#home a::after {
  top: 30px;
  position: absolute;
  left: 142px;
}

#componentes a::after {
  top: 29px;
  position: absolute;
  left: 142px;
}

#templates a::after {
  top: 29px;
  position: absolute;
  left: 142px;
}

.setinha-direita::after {
  transform: rotate(270deg);
}

.setinha-baixo::after {
  top: 29px !important;
  transform: rotate(360deg);
}

.nav-item:focus-visible {
  outline: none;
}

.btn-acessibilidade:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.li-hover:focus {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria);
  border-radius: 15px 15px 0px 0px !important;
  padding: 5px;
  padding-top: 14px;
  margin-left: -6px;
  margin-bottom: 183px;
  margin-top: -9px;
}
.li-hover:focus .icones-menu {
  color: var(--cor-primaria);
}

.forcar-focus,
.forcar-focus-within {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria) !important;
  fill: var(--cor-primaria) !important;
  border-radius: 10px 10px 0px 0px !important;
  padding: 5px;
  padding-top: 14px;
  margin-bottom: 183px;
  margin-top: -9px;
}
.forcar-focus .icones-menu,
.forcar-focus-within .icones-menu {
  color: var(--cor-primaria);
  fill: var(--cor-primaria);
}
.forcar-focus .palavra,
.forcar-focus-within .palavra {
  font-weight: bold;
}

#home .dropdown-menu[data-bs-popper] {
  border: none;
  background-color: var(--cor-secundaria);
  top: 47.808px;
  border-radius: 0px 0px 6px 6px;
  height: 199px;
}

.menu-lateral-fechado #templates .dropdown-menu[data-bs-popper] {
  height: 88px !important;
}

.menu-lateral-fechado #componentes .dropdown-menu[data-bs-popper] {
  height: 739px !important;
}

#componentes .dropdown-menu[data-bs-popper] {
  border: none;
  background-color: var(--cor-secundaria);
  top: 44.808px;
  border-radius: 0px 0px 6px 6px;
}

#templates .dropdown-menu[data-bs-popper] {
  border: none;
  background-color: var(--cor-secundaria);
  top: 47.808px;
  border-radius: 0px 0px 6px 6px;
  height: 75px;
}

.forcar-focus-within-componentes {
  background-color: var(--cor-secundaria);
  color: var(--cor-primaria) !important;
  border-radius: 10px 10px 0px 0px !important;
  padding: 5px;
  padding-top: 14px;
  margin-bottom: 541px;
  margin-top: -9px;
}

.forcar-focus-within-componentes .palavra {
  font-weight: bold;
}

.forcar-focus-within-componentes .icones-menu {
  fill: var(--cor-primaria) !important;
  color: var(--cor-primaria);
}

.menu-lateral-fechado #home .dropdown-menu[data-bs-popper],
.menu-lateral-fechado #templates .dropdown-menu[data-bs-popper],
.menu-lateral-fechado #componentes .dropdown-menu[data-bs-popper] {
  padding-top: 12px !important;
  z-index: 100;
  top: 48.608px;
  left: 22.016px;
  height: 196px;
  background-color: var(--cor-secundaria);
  border-radius: 0px 25px 25px 25px;
  -webkit-border-radius: 0px 25px 24px 25px;
  -moz-border-radius: 0px 25px 24px 25px;
  border: none;
}
.menu-lateral-fechado #home .dropdown-menu[data-bs-popper] li .tag-A-drop,
.menu-lateral-fechado #templates .dropdown-menu[data-bs-popper] li .tag-A-drop,
.menu-lateral-fechado #componentes .dropdown-menu[data-bs-popper] li .tag-A-drop {
  margin-bottom: -4px;
  margin-top: 0px;
  text-align: justify;
}

.dropdown-menu-fechado-componentes {
  height: 640px;
}

.dropdown-menu {
  display: none;
  padding: 0 7px;
}

.dropdown-item:focus {
  color: var(--cor-primaria);
  font-weight: bold;
  background-color: #dfe9ed;
}

.navbar-toggler {
  border: 0px;
}

.navbar-toggler-icon {
  width: 0px;
}

/******************************************************************************************************************/
/*                                                         Botões                                                  /
/******************************************************************************************************************/
.btn {
  text-align: center;
  padding: 9px 25px 10px 25px;
  font-size: 0.75rem;
  font-weight: 600;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-acessibilidade {
  width: 20px;
  height: 20px;
  padding: 0;
  border-radius: 100%;
  border: 1px solid #000;
  margin: 5px 0 5px 5px;
  font-size: 0.75rem;
}
.btn-acessibilidade span {
  position: relative;
  bottom: 0.5px;
  left: 1px;
}
.btn-acessibilidade:hover {
  background-color: #cccccc;
}
.btn-acessibilidade .material-symbols-outlined {
  position: relative;
  left: -3.002px;
  top: -3px;
  transform: scale(0.63);
}

.btn-outline-pesq {
  border-radius: 0.375rem !important;
  color: #ffffff;
  border-color: var(--cor-primaria);
  background-color: var(--cor-primaria);
  padding: 8px 12px;
}
.btn-outline-pesq:hover, .btn-outline-pesq:focus {
  background-color: var(--cor-primaria);
}

/******************************************************************************************************************/
/*                                                    Formulário                                                   /
/******************************************************************************************************************/
#btnBusca {
  border: none;
  float: left;
  height: 36px;
  border-radius: 0 7px 7px 0;
  width: 70px;
  font-weight: bold;
  background: #034ea2;
  color: white;
  border-color: #80bdff;
}

.busca {
  margin-top: 50px;
  padding: 0px;
  height: 38px;
}

/******************************************************************************************************************/
/*                                            Barra de pesquisa do template                                        /
/******************************************************************************************************************/
#search-bar {
  border-radius: 6px 0 0 6px;
}

#searchDesktop {
  margin-right: 21px;
}
#searchDesktop svg {
  position: absolute;
  right: 44px;
  top: 7px;
  transform: none;
  fill: #808080;
}

.btn-search {
  padding: 6px 12px;
  border-radius: 0 6px 6px 0;
  border: 1px solid #ced4da;
}

/******************************************************************************************************************/
/*                                                    Daltonismo                                                   /
/******************************************************************************************************************/
.color-blind {
  color: #fff !important;
  fill: #fff !important;
  background-color: #000 !important;
}
.color-blind ::-moz-selection {
  background-color: #fff;
  color: #000;
}
.color-blind ::selection {
  background-color: #fff;
  color: #000;
}
.color-blind .vw-text-active,
.color-blind .vw-text:hover {
  background-color: rgba(255, 255, 255, 0.415);
  color: rgb(0, 0, 0);
}
.color-blind #colunaSideBar .vw-text-active,
.color-blind #colunaSideBar .vw-text:hover {
  background-color: rgba(255, 255, 255, 0.415);
  color: rgb(0, 0, 0);
}
.color-blind #colunaSideBar .li-menu-aberto:hover .vw-text-active,
.color-blind #colunaSideBar .li-menu-aberto:hover .vw-text:hover,
.color-blind #colunaSideBar .dropBox .vw-text-active,
.color-blind #colunaSideBar .dropBox .vw-text:hover {
  background-color: rgba(0, 0, 0, 0.415);
  color: rgb(255, 255, 255);
}
.color-blind .btnCopy {
  color: #fff;
  background-color: #000;
}
.color-blind p {
  color: #fff;
}
.color-blind .btn {
  border-color: #fff;
}
.color-blind .btn:hover {
  background-color: #fff;
}
.color-blind .btn:hover .material-symbols-outlined {
  fill: #000;
}
.color-blind .header .dropdown-menu {
  background-color: #000;
}
.color-blind .header .dropdown-menu .fechar-notificacoes {
  color: #fff;
}
.color-blind #botao-notificacao:hover svg {
  fill: yellow;
}
.color-blind .btn-acessibilidade {
  color: #fff;
}
.color-blind .btn-acessibilidade:focus {
  background-color: white;
  color: #000 !important;
}
.color-blind .btn-acessibilidade:focus svg {
  fill: #000 !important;
}
.color-blind .btn-acessibilidade:hover {
  color: #000;
}
.color-blind .btn-regular {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}
.color-blind .btn-regular i {
  color: #fff;
}
.color-blind .btn-regular:hover {
  color: yellow !important;
}
.color-blind .btn-regular:hover svg {
  fill: #fff !important;
}
.color-blind .btn-sucesso {
  background-color: #000;
  color: yellow;
}
.color-blind .btn-sucesso i {
  color: #fff;
}
.color-blind .btn-sucesso:hover, .color-blind .btn-sucesso:focus {
  background-color: #000;
  color: yellow;
  border-color: var(--cor-apoio-verde);
}
.color-blind .btn-cancelar {
  background-color: #000;
  color: yellow;
}
.color-blind .btn-cancelar i {
  color: #fff;
}
.color-blind .btn-cancelar:hover, .color-blind .btn-cancelar:focus {
  color: yellow;
  background-color: #000;
  border-color: var(--cor-apoio-vermelho);
}
.color-blind .btn-cancelar svg {
  fill: #fff;
  stroke: #fff;
}
.color-blind .btn-outline-danger, .color-blind .btn-danger {
  background-color: #000;
  color: yellow;
}
.color-blind .btn-outline-danger svg, .color-blind .btn-danger svg {
  fill: #fff;
}
.color-blind .btn-outline-danger:hover, .color-blind .btn-outline-danger:focus, .color-blind .btn-danger:hover, .color-blind .btn-danger:focus {
  color: yellow;
  background-color: #000;
  border-color: var(--cor-apoio-vermelho);
}
.color-blind .btn-warning, .color-blind .bg-warning {
  background-color: #000 !important;
  color: yellow;
}
.color-blind .btn-warning i, .color-blind .bg-warning i {
  color: #fff;
}
.color-blind .btn-warning:hover, .color-blind .bg-warning:hover {
  color: yellow;
  background-color: #000;
  border-color: var(--cor-apoio-dourado);
}
.color-blind .btn-warning svg, .color-blind .bg-warning svg {
  stroke: #fff;
}
.color-blind .btn-info {
  background-color: #000;
  color: yellow;
}
.color-blind .btn-info i {
  color: #fff;
}
.color-blind .btn-info:hover {
  color: yellow;
  background-color: #000;
  border-color: #117a8b;
}
.color-blind .btn-secondary {
  background-color: #000;
  color: yellow;
}
.color-blind .btn-secondary i {
  color: #fff;
}
.color-blind .btn-secondary:hover {
  color: yellow;
  background-color: #000;
  border-color: #6c757d;
}
.color-blind .btn-link {
  background-color: #000;
  color: yellow;
}
.color-blind .btn-link:hover {
  background-color: #000;
  color: yellow;
  text-decoration: underline;
}
.color-blind .btn-pagin {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}
.color-blind .btn-pagin i {
  color: #fff;
}
.color-blind .btn-pagin:hover, .color-blind .btn-pagin:focus {
  color: yellow !important;
  border-color: #003672;
}
.color-blind .btn-pagin:hover svg, .color-blind .btn-pagin:focus svg {
  fill: #fff !important;
}
.color-blind .btn-pagin:focus {
  box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
}
.color-blind .btn-primary {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}
.color-blind .btn-primary i {
  color: #fff;
}
.color-blind .btn-primary:hover {
  color: yellow !important;
  border-color: var(--cor-primaria);
}
.color-blind .btn-success {
  background-color: #000;
  border-color: #fff;
  color: yellow;
}
.color-blind .btn-success:hover {
  background-color: #000;
  border-color: var(--bs-btn-bg);
}
.color-blind .btn-danger {
  background-color: #000 !important;
  border-color: #fff;
}
.color-blind .btn-danger i {
  color: #fff;
}
.color-blind .btn-danger:hover {
  border-color: #bd2130;
}
.color-blind .btn-outline-success {
  background-color: #000 !important;
  border-color: #28a745;
}
.color-blind main {
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255) !important;
  background-color: #000;
}
.color-blind .header {
  background-color: #000;
}
.color-blind #botao-user {
  color: #000;
  background-color: #fff;
}
.color-blind #botao-user:hover, .color-blind #botao-user:focus {
  background-color: #000;
  color: #fff;
}
.color-blind #search-bar::-moz-placeholder {
  color: #fff;
}
.color-blind #search-bar::placeholder {
  color: #fff;
}
.color-blind .estilo-setas svg {
  fill: #000;
}
.color-blind .tabela th,
.color-blind .tabela td {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}
.color-blind .tabela th:focus {
  box-shadow: inset 0 0 0 4.2px rgba(199, 255, 0, 0.58);
}
.color-blind .filtrar-tabela {
  background-color: #000;
}
.color-blind .filtrar-tabela label {
  color: #fff;
}
.color-blind .inp-busca::-moz-placeholder {
  background-color: #000;
  color: #fff;
}
.color-blind select.itens-pagina,
.color-blind .dataTables_length select,
.color-blind .inp-busca::placeholder {
  background-color: #000;
  color: #fff;
}
.color-blind .cor-icon1,
.color-blind .cor-icon2 {
  fill: #fff;
}
.color-blind .tabela .thOrdenada svg path {
  stroke: white;
}
.color-blind .btn-outline-pesq {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}
.color-blind .btn-outline-pesq:hover, .color-blind .btn-outline-pesq:focus {
  background-color: #fff;
}
.color-blind .btn-outline-pesq:hover .material-symbols-outlined, .color-blind .btn-outline-pesq:focus .material-symbols-outlined {
  fill: #000;
}
.color-blind .tabela caption {
  color: yellow;
}
.color-blind #relogio::-moz-placeholder {
  color: white;
}
.color-blind #relogio::placeholder {
  color: white;
}
.color-blind .page-link,
.color-blind .page-link-poi,
.color-blind .page-item {
  color: #fff;
  background-color: #000;
}
.color-blind a.page-link:hover {
  color: #000;
  background-color: #fff;
}
.color-blind .padrao,
.color-blind .sucesso,
.color-blind .erro {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid #fff;
}
.color-blind .atencao {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid #fff;
}
.color-blind .atencao h5 {
  color: #fff !important;
}
.color-blind .atencao button {
  color: #fff;
}
.color-blind .modal-body {
  background-color: #000;
}
.color-blind .modal-body h1 {
  color: #fff;
}
.color-blind .modal-footer {
  background-color: #000;
  border-top: 1px solid #fff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.color-blind .carousel-caption {
  background-color: #000;
}
.color-blind .carousel-control-prev,
.color-blind .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.63);
}
.color-blind .card-title {
  color: #000;
}
.color-blind .card .btn-info {
  color: #fff;
  border-color: #17a2b8;
}
.color-blind .card-text {
  color: #000;
}
.color-blind .mens-erro,
.color-blind .mens-suce,
.color-blind .mens-alert {
  background-color: #000;
}
.color-blind .mens-erro p,
.color-blind .mens-erro a,
.color-blind .mens-suce p,
.color-blind .mens-suce a,
.color-blind .mens-alert p,
.color-blind .mens-alert a {
  color: #fff;
}
.color-blind .mens-erro {
  border-color: #ff7b7b;
}
.color-blind .txToll a {
  color: #fff;
}
.color-blind .statusTl {
  color: #fff !important;
}
.color-blind #colunaSideBar {
  background-color: #000;
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255) !important;
}
.color-blind #barraAcessibilidade div {
  background-color: #000;
}
.color-blind #barraAcessibilidade #atalhosDocumento a {
  color: white;
}
.color-blind #barraAcessibilidade #atalhosDocumento span {
  color: #000;
  background-color: yellow;
}
.color-blind .tituloPag {
  color: yellow;
}
.color-blind h1 {
  color: yellow;
}
.color-blind h2 {
  color: yellow;
}
.color-blind h6 {
  color: yellow;
}
.color-blind code {
  color: #ff54a9;
}
.color-blind a {
  color: #ffffff;
}
.color-blind kbd {
  color: #585858;
  background-color: #ffffff;
}
.color-blind blockquote p {
  color: #e3e3e3;
}
.color-blind blockquote footer {
  color: #969696;
}
.color-blind .material-symbols-outlined {
  color: white;
  fill: white;
}
.color-blind .menu-lateral-fechado .item-menu:hover {
  color: #000 !important;
}
.color-blind .menu-lateral-fechado .item-menu:hover svg {
  fill: #000 !important;
}
.color-blind .menu-lateral-fechado .item-menu:focus-visible {
  color: #000;
}
.color-blind .menu-lateral-fechado .item-menu:focus-visible svg {
  fill: #000 !important;
}
.color-blind .item-menu:focus-visible {
  color: #000 !important;
}
.color-blind .item-menu:focus-visible svg {
  fill: #000 !important;
}
.color-blind .breadcrumb li a {
  color: white !important;
}
.color-blind .breadcrumb .active {
  color: #8c98a2;
}
.color-blind .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' height='10' viewBox='69.167 69.583 59.167 100.417' width='10'%3E%3Cpath d='m78.125 170-8.958-8.958 41.25-41.25-41.25-41.25 8.958-8.959 50.208 50.209L78.125 170Z'/%3E%3C/svg%3E");
}
.color-blind main .labelForm {
  color: #000;
}
.color-blind main .btn-color {
  color: rgb(136, 0, 255);
  background-color: rgb(255, 0, 0) !important;
}
.color-blind main .btn-color:hover {
  color: #000;
  background-color: #fff !important;
}
.color-blind::-webkit-scrollbar-track {
  background-color: rgb(62, 62, 62);
}
.color-blind::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
}
.color-blind .icones-menu-fechado:hover {
  color: #000;
}
.color-blind .icones-menu-fechado:hover svg {
  fill: #000;
}
.color-blind .icones-menu-fechado-selecionado {
  color: #000 !important;
}
.color-blind .icones-menu-fechado-selecionado svg {
  fill: #000 !important;
}
.color-blind .dropdown-item:focus {
  color: #000;
}
.color-blind .li-hover:focus {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}
.color-blind .li-hover:focus .icones-menu {
  color: #000 !important;
}
.color-blind .icones-menu-fechado-selecionado-tab {
  color: #000 !important;
}
.color-blind .icones-menu-fechado-selecionado-tab svg {
  fill: #000 !important;
}
.color-blind .forcar-focus {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}
.color-blind .forcar-focus .icones-menu {
  color: #000 !important;
}
.color-blind .forcar-focus-within,
.color-blind .forcar-focus-within-componentes {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}
.color-blind .forcar-focus-within .icones-menu,
.color-blind .forcar-focus-within-componentes .icones-menu {
  color: #000 !important;
  fill: #000 !important;
}
.color-blind .drop .tag-A-drop {
  color: #000;
}
.color-blind .hr {
  border: solid 1px yellow;
  opacity: 1;
}
.color-blind .circulo {
  border-top-color: #5da9ff;
}
.color-blind .form-control {
  color: #fff;
  background-color: #000;
}
.color-blind .form-control:focus {
  color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 0.25rem white;
}
.color-blind .label-flutuante,
.color-blind .label-text-area-flutuante {
  color: #fff;
  background-color: #000;
}
.color-blind .tx-observacao {
  color: #fff;
}
.color-blind .buscar_produto,
.color-blind .buscar_produto2 {
  background-color: #000;
}
.color-blind .buscar_produto:hover,
.color-blind .buscar_produto2:hover {
  color: #000;
  background-color: #fff;
}
.color-blind .btn-buscar:hover svg.material-symbols-outlined {
  fill: #000;
}
.color-blind .form-select {
  color: #fff;
  background-color: #000;
}
.color-blind .form-select:focus {
  border: 2px solid #000;
  box-shadow: 0 0 0 0.25rem white;
}
.color-blind .custom-file-label::after {
  color: #fff;
  background-color: #000;
  border-left: 2px solid #fff;
}
.color-blind .titulo-box {
  color: #fff;
}
.color-blind .titulo-html {
  color: #009eec;
}
.color-blind .attr {
  color: #ff2fff;
}
.color-blind .valor-attr {
  color: #00af00;
}
.color-blind .card {
  border: none;
}
.color-blind .card .card-header {
  box-shadow: var(--borda-branca-color-blind);
  background-color: #000;
}
.color-blind .card .card-header span {
  color: #ffff00;
}
.color-blind .card .card-header svg,
.color-blind .card .card-header path {
  fill: #fff;
}
.color-blind .card .card-header[aria-expanded=true] span {
  color: #ffff00;
}
.color-blind .card .card-header[aria-expanded=true] path {
  fill: #ffff00;
}
.color-blind .card .card-body {
  color: #000;
}
.color-blind .exemplo-grid {
  background: #000;
  border: 1px solid #fff;
}
.color-blind .bs-timepicker {
  background-color: black;
  border: 1px solid white;
  color: white;
}
.color-blind .bs-timepicker::-moz-placeholder {
  color: #fff;
}
.color-blind .bs-timepicker::placeholder {
  color: #fff;
}
.color-blind #input_img {
  fill: white;
}
.color-blind .timepicker {
  background-color: #000;
}
.color-blind .icon-up,
.color-blind .icon-down {
  filter: invert(1);
}
.color-blind .js-hour-show,
.color-blind .js-minute-show,
.color-blind .text .cell-2 {
  color: #fff !important;
}
.color-blind .wc-date-container {
  background-color: #000;
}
.color-blind .wc-date-container span,
.color-blind .wc-date-container svg {
  color: #fff;
  fill: #fff;
}
.color-blind .wc-banner {
  background-color: #000;
}
.color-blind .wc-banner .wc-day-row,
.color-blind .wc-banner .wc-date-row,
.color-blind .wc-banner .wc-my-sec {
  background-color: #000;
}
.color-blind .selected-day > span {
  background-color: #000;
}
.color-blind .today > span {
  border-color: #000;
}
.color-blind .wc-details {
  background-color: #000;
}
.color-blind .calendar-header {
  background-color: #000;
}
.color-blind .nav-tabs .nav-link {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}
.color-blind .nav.nav-tabs {
  box-shadow: 1px 0px #000, -1px 0px #000;
}
.color-blind .nav-tabs .nav-item .nav-link.active,
.color-blind .tab-pane.fade.show.active {
  color: #000;
}
.color-blind .years-view > .prev,
.color-blind .years-view > .next {
  color: #000;
  fill: #000;
}
.color-blind .months-view > span,
.color-blind .years-list-view > span {
  color: #000;
  fill: #000;
}
.color-blind .months-view > span:hover,
.color-blind .years-list-view > span:hover {
  padding: 10px 0;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}
.color-blind .years-view > .prev:hover,
.color-blind .years-view > .next:hover {
  color: #515151;
}
.color-blind .calendar-days td:hover > span {
  background: #000;
}
.color-blind .pagination .contagem-total {
  color: #fff;
}
.color-blind .pagination #itens-pagina {
  background-color: #000;
  color: #fff;
}
.color-blind .pagination .subtracao-mb,
.color-blind .pagination .adicao-mb,
.color-blind .pagination .subtracao,
.color-blind .pagination .adicao {
  background-color: #000;
}
.color-blind .pagination .page-link:focus {
  background-color: #fff;
  color: #000;
}
.color-blind .pagination .page-link:focus svg {
  fill: #000;
}
.color-blind .pagination .page-link:hover svg {
  fill: #000;
}
.color-blind .pagination .page-item.disabled svg {
  fill: green;
}

/******************************************************************************************************************/
/*                                                Barra acessibilidade                                             /
/******************************************************************************************************************/
#barraAcessibilidade #atalhosDocumento a,
#barraAcessibilidade #atalhosDocumento span {
  font-size: 0.6875rem;
}
#barraAcessibilidade #atalhosDocumento a {
  color: #0049b8;
  text-decoration: none;
  margin-right: 10px;
}
#barraAcessibilidade #atalhosDocumento span {
  color: #fefefe;
  background-color: #1252ba;
}
#barraAcessibilidade div {
  background-color: white;
  justify-content: flex-end;
}

/******************************************************************************************************************/
/*                                             Background input icon                                               /
/******************************************************************************************************************/
#input_container {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 20px;
  background: #ddd;
  direction: rtl;
  width: 200px;
}

#input {
  height: 20px;
  margin: 0;
  padding-right: 30px;
  width: 100%;
}

#input_img {
  position: relative;
  bottom: 26px;
  left: calc(16.3vw - 62px);
}

/******************************************************************************************************************/
/*                                                     Responsivo                                                  /
/******************************************************************************************************************/
@media (min-width: 576px) {
  .col-sm-105 {
    flex: 0 0 auto;
    width: 86.133333%;
  }
}
@media (min-width: 992px) {
  .navbar-supported-content-aberto {
    align-items: stretch;
  }
  li .li-menu-aberto:hover, li .li-menu-aberto:focus {
    background-color: var(--cor-secundaria);
    color: var(--cor-primaria);
  }
  li .li-menu-aberto:hover .icones-menu, li .li-menu-aberto:focus .icones-menu {
    fill: var(--cor-primaria);
  }
  li .li-menu-aberto:hover .palavra, li .li-menu-aberto:focus .palavra {
    font-weight: bold;
  }
  a:hover::after {
    color: var(--cor-primaria);
  }
  #searchResponsivo {
    display: none !important;
  }
  #abrirMenuHamburguer {
    display: none !important;
  }
  #fecharMenuHamburguer {
    display: none !important;
  }
  .color-blind li .li-menu-aberto:hover {
    background-color: var(--cor-secundaria);
    color: #000 !important;
  }
  .color-blind li .li-menu-aberto:hover .icones-menu {
    fill: #000 !important;
  }
  .color-blind a:hover::after {
    color: #000 !important;
  }
}
@media (min-width: 991px) {
  .menu-lateral-aberto #componentes .dropdown-menu[data-bs-popper] {
    height: 819px !important;
  }
}
@media (max-width: 991px) {
  #topo .row.header.shadow.mb-3.p-3.ps-4 {
    margin-right: 0;
  }
  #colunaPrincipal #topo ~ .row {
    margin-right: 0;
  }
  #btns-e-menu {
    position: unset;
  }
  #colunaSideBar:has(#componentes .dropdown-menu-componentes.show) {
    height: unset;
  }
  body:has(#menuBar.menu-lateral-aberto) .d-flex.mx-0 {
    flex-direction: column;
  }
  body:has(#menuBar.menu-lateral-aberto) main {
    display: none;
  }
  main {
    margin: 0 1rem;
  }
  #barraAcessibilidade div {
    justify-content: flex-end;
  }
  .form-floating label {
    margin-left: 8.8px;
    font-size: small;
  }
  .header {
    padding: 4.8px 0px !important;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    border-right: 0;
  }
  .header h1 {
    font-size: 3.2vw;
    color: var(--cor-secundaria);
    position: relative;
    z-index: 5;
  }
  .header #sino-notificacoes {
    fill: white;
  }
  .header img {
    margin-left: 12px;
    position: relative;
    z-index: 5;
  }
  .header .navbar-toggler {
    z-index: 5;
    stroke: #fff;
  }
  #menuBar {
    background-color: var(--cor-primaria);
  }
  #menuBar #botao-usuario-mobile #dropDownNotif-mobile {
    background-color: transparent;
  }
  #menuBar #botao-usuario-mobile #botao-notificacao-mobile.show {
    margin-bottom: 160px;
  }
  #menuBar #botao-usuario-mobile #dropDownNotif-mobile {
    border: none;
    transform: translateY(-195px);
  }
  #menuBar #botao-usuario-mobile .dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0;
    border: 0;
  }
  #menuBar #botao-usuario-mobile #botao-user-mobile::after {
    content: url("../assets/seta-user-mobile.png");
    transform: rotate(270deg) translate(-11px, 61px);
    margin-left: -49px;
    margin-top: -22px;
  }
  #menuBar #botao-usuario-mobile #botao-user-mobile.show::after {
    transform: rotate(360deg) translate(57px, 17px);
  }
  #menuBar #botao-usuario-mobile #botao-user-mobile.show {
    margin-bottom: 110px;
  }
  #menuBar #botao-usuario-mobile #botao-user-mobile {
    font-size: 1.25rem;
  }
  #menuBar #botao-usuario-mobile #drop-down-user-mobile {
    transform: translate(15px, -137px);
    margin-top: 0;
    padding: 0;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
  }
  #menuBar #botao-usuario-mobile #drop-down-user-mobile .dropdown-divider {
    background-color: #fff;
  }
  #menuBar #botao-usuario-mobile a {
    font-size: 0.75rem;
    color: #fff;
  }
  #menuBar #botao-usuario-mobile a:hover {
    background-color: unset !important;
  }
  #menuBar #botao-usuario-mobile li {
    padding: 0;
    padding-bottom: 14px;
  }
  .menu-lateral-fechado {
    background-color: rgba(0, 0, 0, 0);
    animation-name: none;
  }
  #colunaPrincipal {
    padding-left: unset !important;
  }
  .navbar-toggler-icon {
    width: 30px;
    color: var(--cor-secundaria);
  }
  .tituloPag {
    color: var(--cor-secundaria);
    margin-bottom: 0;
  }
  #abrirMenu {
    display: none;
  }
  #fecharMenu {
    display: none;
  }
  .menu-lateral-fechado {
    display: none;
  }
  .menu-lateral-aberto {
    z-index: 5;
    position: absolute;
    width: 100.1vw;
    height: 841px;
    top: -29px;
  }
  .menu-lateral-aberto li {
    padding: 15px 0 15px 0;
    top: 30.4px;
  }
  .menu-lateral-aberto:has(#home .dropdown-menu.show):has(#componentes .icones-menu-fechado-selecionado) {
    height: 1051px;
  }
  .menu-lateral-aberto:has(#home .dropdown-menu.show) {
    height: 1060px;
  }
  .menu-lateral-aberto:has(#componentes .dropdown-menu.show) {
    height: 1593px;
  }
  .menu-lateral-aberto li#componentes:has(.dropdown-menu.show) {
    margin-bottom: 808px;
  }
  .menu-lateral-aberto li#templates:has(.dropdown-menu.show) {
    margin-bottom: 61px;
  }
  .d-flex #searchDesktop {
    visibility: hidden;
  }
  .hr-usuario {
    display: none;
  }
  #botao-usuario-mobile:has(#drop-down-user-mobile.show) ~ .hr-usuario {
    display: block;
    opacity: 1;
  }
  .menu-lateral-aberto #ul-raiz #li-brasao {
    left: 35px;
  }
  .menu-lateral-aberto #ul-raiz #li-brasao .palavra {
    font-size: 0.5rem !important;
    top: 229% !important;
  }
  .menu-lateral-aberto #ul-raiz .palavra {
    top: -3px !important;
    font-size: 0.9375rem !important;
  }
  .icones-menu {
    margin-right: 9px;
    transform: scale(1.1);
    vertical-align: baseline;
    padding-right: 7px;
    padding-left: 10px;
    top: 2px;
    position: relative;
  }
  .li-hover:focus {
    width: 72vw !important;
    height: 62.24px !important;
  }
  .forcar-focus,
  .forcar-focus-within,
  .forcar-focus-within-componentes {
    height: 62.08px;
  }
  #home .dropdown-menu[data-bs-popper],
  #componentes .dropdown-menu[data-bs-popper],
  #templates .dropdown-menu[data-bs-popper] {
    height: 203px;
    top: 50px;
    border-radius: 0;
  }
  #templates .dropdown-menu[data-bs-popper] {
    height: 77px !important;
  }
  #componentes .dropdown-menu[data-bs-popper] {
    height: 822px !important;
  }
  .margem-responsiva li {
    margin-bottom: -20.96px;
  }
  .menu-lateral-aberto {
    animation-name: none;
  }
  .menu-lateral-aberto .padding-das-li {
    margin-left: unset;
  }
  .drop .tag-A-drop {
    font-size: 0.8125rem;
    text-align: justify;
    padding-left: 38px;
    padding-bottom: 8.5px;
    padding-top: 8.5px;
  }
  .navbar-toggler-icon {
    vertical-align: -webkit-baseline-middle;
    transform: scale(1.3);
    filter: invert(527.2%) sepia(0%) saturate(1600%) hue-rotate(1266deg) brightness(1006%) contrast(802%);
  }
  .hr {
    display: none;
  }
  #configuracoes .li-menu-aberto {
    position: absolute;
    top: 210px;
    left: 0;
  }
  #searchResponsivo {
    margin-top: 130px;
    width: 80vw;
    background: var(--cor-secundaria);
    border-radius: 15px 6px 6px 15px;
  }
  #searchResponsivo .btn {
    color: var(--cor-primaria);
  }
  #abrirMenuHamburguer {
    visibility: visible;
  }
  a::after {
    margin-bottom: 3.2px;
    top: 37px;
  }
  .breadcrumb {
    margin-left: 22px;
    transform: scale(1.1);
  }
  main .container {
    margin-top: -55px;
    font-size: larger;
  }
  main .container h2 {
    font-size: 2.2rem;
  }
  .largura-input {
    font-size: large;
    height: 70.3px !important;
  }
  .btn-color {
    height: 60px;
  }
  #txtSolicitante,
  #txtUnOrcamentaria {
    margin-left: -39px;
  }
  .alerta {
    left: 25px;
  }
  .col-md-1 {
    width: 100%;
  }
  li.nav-item:last-child {
    top: 30.4px;
  }
  .color-blind .header {
    background-color: #000;
  }
  .color-blind .bgNav {
    background-color: unset;
    box-shadow: unset !important;
  }
  .color-blind .menu-lateral-aberto {
    background-color: #000;
    box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255) !important;
  }
  #atalhosDocumento {
    display: none;
  }
  .li-hover:focus,
  .forcar-focus,
  .forcar-focus-within,
  .forcar-focus-within-componentes {
    border-radius: 0 !important;
    margin-bottom: 0;
  }
  .menu-lateral-aberto li#home:has(.dropdown-menu.show) > a::after,
  .menu-lateral-aberto li#componentes:has(.dropdown-menu.show) > a::after li#templates:has(.dropdown-menu.show) > a::after {
    position: static;
    transform: rotate(0deg) scale(1.5);
  }
  #home a::after {
    position: static;
    transform: rotate(270deg) scale(1.5);
  }
  #componentes a::after {
    position: static;
    transform: rotate(270deg) scale(1.5);
  }
  #templates a::after {
    position: static;
    transform: rotate(270deg) scale(1.5);
  }
  .menu-lateral-aberto li#home:has(.dropdown-menu.show) > a::after,
  .menu-lateral-aberto li#componentes:has(.dropdown-menu.show) > a::after,
  .menu-lateral-aberto li#templates:has(.dropdown-menu.show) > a::after {
    transform: rotate(0deg) scale(1.5);
  }
  #home .setinha-baixo::after {
    left: unset;
    right: 20px;
    transform: rotate(360deg) scale(1.5) !important;
  }
  #componentes .setinha-baixo::after {
    left: unset;
    right: 20px;
    transform: rotate(360deg) scale(1.5) !important;
  }
  #templates .setinha-baixo::after {
    left: unset;
    right: 20px;
    transform: rotate(360deg) scale(1.5) !important;
  }
}
@media (max-width: 768px) {
  .btn-regular,
  .btn-sucesso,
  .btn-cancelar,
  .btn-outline-danger,
  .btn-danger,
  .btn-warning,
  .btn-info,
  .btn-primary,
  .btn-secondary,
  .btn-link {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #input_img {
    left: calc(99.98vw - 152.646px);
  }
}/*# sourceMappingURL=main.css.map */