#aplicacao {
    display: flex;
    flex-direction: row;
}

#painel_aplicacao {
    display: flex;
    flex-direction: row;

    #painel_lateral {
        background-color: var(--cor-primaria);
        display: flex;
        flex-direction: column;
        width: var(--largura-menu-expandido);
        height: 100vh;

        &.recolhido {
            width: var(--largura-menu-recolhido);
            transition: all 0.3s;

            #botao_expandir {
                margin-left: calc(var(--largura-menu-recolhido) - var(--largura-botao_expandir)/2);
            }

            #orgao {
                display: none;
            }
        }
    }

    #painel_principal {
        display: flex;
        flex-direction: column;
        padding: 0 0.5em;
        transition: margin-left 0.3s;
        height: 100vh;
        width: calc(100vw - var(--largura-menu-expandido) - 0.5em);

        &.recolhido {
            width: calc(100vw - var(--largura-menu-recolhido) - 0.5em);
        }
    }
}

#painel_conteudo {
    padding: 1em 0 0 1em;
}

#conteudo {
    padding: 0.5em;
    box-shadow: -5px 10px 15px var(--cor-sombra);
    border-color: var(--cor-borda-clara);
    border-style: solid;
    border-block-width: thin;
    overflow-y: auto;
    max-height: calc(100vh - 13em);
}
/*mobile*/
@media (max-width: 767.98px) {
    #aplicacao {
        display: block;

        #cabecalho_mobile {
            display: block;
        }

        #painel_aplicacao {
            display: block;
            width: 100%;
            padding: 0;
            margin: 0;
            height: auto;
        }

        #painel_lateral {
            transition: all 0.3s;
            position: fixed;
            width: var(--largura-menu-expandido);
            z-index: 1;
            top: 0;
            bottom: 0;
        }

        #painel_principal {
            display: flex;
            transition: height 1s ease;
            width: 100%;
            padding: 0;
            margin: 0;

            &.oculto {
                display: none;
            }

            #painel_conteudo {
                padding: 0;
                height: auto;

                #conteudo {
                    height: auto;
                    max-height: initial;
                    border-style: none;
                    box-shadow: none !important;
                }
            }
        }
    }
}
/*Alteracao de configuracoes de terceiros*/
li, dt, dd {
    word-wrap: break-word;
}

.container-sm, .container {
    max-width: none;
}

.tooltip-custom-bg .tooltip-inner {
    background-color: yellow;
    color: black;
}
