#raiz {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#painel-principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  margin-left: var(--largura-menu-expandido);
  transition: margin-left 0.3s;
}

.painel-cabecalho {
  margin-left: 0.5em;
}

#painel-aplicacao {
  flex-grow: 1;
  padding: 1em;

  #conteudo {
    padding: 1em;
    box-shadow: -5px 10px 15px var(--cor-sombra);
    border-color: var(--cor-borda-clara);
    border-style: solid;
    border-block-width: thin;
    overflow-y: auto;
    max-height: calc(100vh - 12em);
  }
}

#painel-menu {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;

  @media (min-width: 767.99px) {
    transition: all 0.3s;
    position: fixed;
    width: var(--largura-menu-expandido);
    z-index: 1;
    top: 0;
    bottom: 0;

    &.recolhido {
      width: var(--largura-menu-recolhido);

      #botao-expandir {
        margin-left: calc(var(--largura-menu-recolhido) - var(--largura-botao-expandir)/2);
      }

      #orgao {
        display: none;
      }
    }
  }
}

#painel-menu.recolhido + #painel-principal {
  @media (min-width: 767.99px) {
    margin-left: var(--largura-menu-recolhido);
  }
}

#botao-expandir {
  margin-left: calc(var(--largura-menu-expandido) - var(--largura-botao-expandir)/2);
  stroke: #000;
  transform: scale(0.5);
  width: var(--largura-botao-expandir);
  height: var(--largura-botao-expandir);
  border-radius: calc(var(--largura-botao-expandir)/2);
  border: none;
  background-color: var(--cor-fundo);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
  right: -25px;
  top: 2em;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: var(--cor-apoio-cinza-claro);
  }

  span {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 40px;
  }
}

#brasao {
  display: flex;
  height: 80px;
  background-color: transparent;
  margin-bottom: 2rem;
  transition: opacity 0.3s;

  img {
    height: 100%;
    width: auto;
    margin: 5px;
  }

  #orgao {
    padding-top: 1.5em;
    padding-right: 0.5em;
    color: var(--cor-fundo);
    font-size: 0.9rem;
    transition: opacity 0.3s;
  }
}

#cabecalho-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: calc(var(--altura-barra-acessibilidade) + var(--altura-cabecalho) + 0.5em);
  z-index: 2;
}

#conteudo-mobile {
  width: 100%;
  position: absolute;
}

@media (max-width: 767.98px) {
  #painel-principal {
    display: none;
    margin-left: 0;

    &.painelVisivel {
      display: flex;
      transition: height 1s ease;
    }
  }

  .painel-cabecalho {
    margin-left: 0;
    flex: 1;
    flex-grow: 1;
  }

  #conteudo-mobile {
    margin-top: calc(var(--altura-barra-acessibilidade) + var(--altura-cabecalho) + 1em);
  }

  #painel-menu {
    display: flex;
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    bottom: auto;
    transition: height 0.3s ease;

    #botao-expandir, #brasao, app-itens-menu {
      display: none;
    }

    &.menuVisivel {
      height: 100vh;

      app-itens-menu {
        transition: height 0.3s ease;
        display: initial;
      }
    }
  }
}
