body {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#painel_principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  margin-left: var(--largura-menu-expandido);
  transition: margin-left 0.3s;
}

#painel_aplicacao {
  flex-grow: 1;
  padding: 1em;
}

#conteudo {
  padding: 1em;
  box-shadow: -5px 10px 15px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
  overflow-y: auto;
  max-height: calc(100vh - 12em);
}

#conteudo_mobile {
  width: 100%;
  position: absolute;
}

/*mobile*/
@media (max-width: 767.98px) {
  #painel_principal {
    display: flex;
    margin-left: 0;
    transition: height 1s ease;
  }
  #painel_principal.oculto {
    display: none;
  }
  #conteudo_mobile {
    margin-top: calc(var(--altura-barra_acessibilidade) + var(--altura-cabecalho) + 1em);
  }
}
/*Altersacao de configuracoes de terceiros*/
li {
  word-wrap: break-word;
}

.fas {
  padding-right: 0.5em;
}

.container-sm, .container {
  max-width: none;
}

.tooltip-custom-bg .tooltip-inner {
  background-color: yellow;
  color: black;
}
