html {
  font-size: var(--tamanho-fonte-base);
  margin: 0;
  padding: 0;
  overflow: hidden;
}
@media (max-width: 767.98px) {
  html {
    font-size: calc(var(--tamanho-fonte-base) * 0.75);
  }
}

body {
  font-size: 0.813rem;
  color: #585858;
  font-family: Verdana, sans-serif;
}

p, li, ul, dt, dd, em, span {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

#aplicacao {
  display: flex;
  flex-direction: row;
}

#painelAplicacao {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#painelPrincipal {
  display: flex;
  width: 100%;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: auto;
  height: 100vh;
}

#painelConteudo {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.8rem;
  margin-bottom: 1rem;
}

#conteudo {
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0 0.5rem 1rem var(--cor-sombra);
}

#topoDaPagina {
  display: none;
  text-align: right;
  margin: 1rem;
}

#privacidade {
  font-family: "Montserrat", sans-serif;
}
#privacidade section {
  border-top: 1px solid var(--cor-apoio-cinza-claro);
  padding-top: 0.5rem;
  margin-top: 0.5rem;
}
#privacidade h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--cor-primaria);
}

/*mobile*/
@media (max-width: 767.98px) {
  #aplicacao {
    display: block;
  }
  #painelAplicacao {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  #painelPrincipal {
    padding: 0;
    margin: 0 0 1rem 0;
    height: 90vh;
  }
  #painelPrincipal.oculto {
    display: none;
  }
  #painelConteudo {
    padding: 0;
  }
  #conteudo {
    border-style: none;
    box-shadow: none !important;
  }
}
/*Alteracao de configuracoes de terceiros*/
li, dt, dd {
  word-wrap: break-word;
}

.container-sm, .container {
  max-width: none;
}

.tooltip-custom-bg .tooltip-inner {
  background-color: yellow;
  color: black;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);
  border-radius: 10px;
  border: 2px solid var(--cor-primaria);
}

*::-webkit-scrollbar-track {
  background-color: #c0c0c0;
}
