html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-size: .813rem;
    color: #585858;
    font-family: Verdana, sans-serif;
}

p, li, dt, dd, em, span {
    font-family: 'Montserrat', sans-serif;
}

#aplicacao {
    display: flex;
    flex-direction: row;
}

#painel_aplicacao {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#painel_principal {
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: all 0.3s ease;
    overflow: auto;
    height: 100vh;
}

#painel_conteudo {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1rem;
}

#conteudo {
    padding: 1rem 1.5rem 1rem 1.5rem;
    box-shadow: 0 .5rem 1rem var(--cor-sombra);
}

#topoDaPagina {
    display: none;
    text-align: right;
    margin: 1rem;
}

/*mobile*/
@media (max-width: 767.98px) {
    #aplicacao {
        display: block;
    }

    #cabecalho_mobile {
        display: block;
    }

    #painel_aplicacao {
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #painel_principal {
        padding: 0;
        margin: 0 0 1rem 0;
        height: 90vh;

        &.oculto {
            display: none;
        }
    }

    #painel_conteudo {
        padding: 0;
    }

    #conteudo {
        border-style: none;
        box-shadow: none !important;
    }
}

/*Alteracao de configuracoes de terceiros*/
li, dt, dd {
    word-wrap: break-word;
}

.container-sm, .container {
    max-width: none;
}

.tooltip-custom-bg .tooltip-inner {
    background-color: yellow;
    color: black;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);
    border-radius: 10px;
    border: 2px solid var(--cor-primaria);
}

*::-webkit-scrollbar-track {
    background-color: #c0c0c0;
}
