@import "jqueryui/jquery-ui-1.10.1.custom.min.css";
@import "../lib/bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/all.css";
@import "_variaveis.scss";
@import "components/person-card.css";
@import "site.scss";
@import "alto-contraste.scss";
@import "components/barra-acessibilidade.scss";
@import "components/botoes.scss";
@import "components/breadcrumb.scss";
@import "components/cabecalho.scss";
@import "components/menu.scss";
@import "components/tabela.scss";

@font-face {
    font-family: "Montserrat";
    src: url(assets/font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Open Sans";
    src: url(assets/font/OpenSans-VariableFont_wdth.ttf);
}

