@import "jqueryui/jquery-ui-1.10.1.custom.min.css";
@import "../lib/bootstrap/dist/css/bootstrap.css";
@import "font-awesome/css/all.css";
@import "person-card.css";
:root {
  --font-principal: "Open Sans", sans-serif;
  --font-secundaria: "Montserrat", sans-serif;
  --cor-primaria: #17629e;
  --cor-primaria-texto: black;
  --cor-invertida-texto: white;
  --cor-menu-texto: black;
  --cor-menu-invertida-texto: white;
  --cor-apoio-verde: #006723;
  --cor-apoio-vermelho: #bc5000;
  --cor-apoio-cinza-claro: rgba(200, 200, 200, 0.8);
  --cor-fundo: white;
  --cor-fundo-hover: white;
  --cor-fundo-selecionado: #b5afed;
  --cor-borda-clara: rgba(200, 200, 200, 0.3);
  --cor-sombra: rgba(200, 200, 200, 0.7);
  --cor-botao-sucesso: #009432;
  --cor-botao-cancelar: white;
  --cor-botao-danger: red;
  --cor-botao-texto: black;
  --cor-invertida-botao-texto: white;
  --largura-menu-expandido: 240px;
  --largura-menu-recolhido: 90px;
  --largura-botao-expandir: 50px;
  --largura-botao: 12em;
  --altura-barra-acessibilidade: 2.8em;
  --altura-cabecalho: 3.5em;
  --altura-linha: 2.5em;
}

html {
  font-size: 16px;
}
@media (max-width: 767.98px) {
  html {
    font-size: 12px;
  }
}

.titulo_formulario {
  font-size: 1.3rem;
  font-weight: bold;
}

#raiz {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

#painel-principal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
  margin-left: var(--largura-menu-expandido);
  transition: margin-left 0.3s;
}

.painel-cabecalho {
  margin-left: 0.5em;
}

#painel-aplicacao {
  flex-grow: 1;
  padding: 1em;
}
#painel-aplicacao #conteudo {
  padding: 1em;
  box-shadow: -5px 10px 15px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
  overflow-y: auto;
  max-height: calc(100vh - 12em);
}

#painel-menu {
  background-color: var(--cor-primaria);
  display: flex;
  flex-direction: column;
}
@media (min-width: 767.99px) {
  #painel-menu {
    transition: all 0.3s;
    position: fixed;
    width: var(--largura-menu-expandido);
    z-index: 1;
    top: 0;
    bottom: 0;
  }
  #painel-menu.recolhido {
    width: var(--largura-menu-recolhido);
  }
  #painel-menu.recolhido #botao-expandir {
    margin-left: calc(var(--largura-menu-recolhido) - var(--largura-botao-expandir) / 2);
  }
  #painel-menu.recolhido #orgao {
    display: none;
  }
}

@media (min-width: 767.99px) {
  #painel-menu.recolhido + #painel-principal {
    margin-left: var(--largura-menu-recolhido);
  }
}

#botao-expandir {
  margin-left: calc(var(--largura-menu-expandido) - var(--largura-botao-expandir) / 2);
  stroke: #000;
  transform: scale(0.5);
  width: var(--largura-botao-expandir);
  height: var(--largura-botao-expandir);
  border-radius: calc(var(--largura-botao-expandir) / 2);
  border: none;
  background-color: var(--cor-fundo);
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.2);
  right: -25px;
  top: 2em;
  transition: all 0.3s;
}
#botao-expandir:hover, #botao-expandir:focus {
  background-color: var(--cor-apoio-cinza-claro);
}
#botao-expandir span {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 40px;
}

#brasao {
  display: flex;
  height: 80px;
  background-color: transparent;
  margin-bottom: 2rem;
  transition: opacity 0.3s;
}
#brasao img {
  height: 100%;
  width: auto;
  margin: 5px;
}
#brasao #orgao {
  padding-top: 1.5em;
  padding-right: 0.5em;
  color: var(--cor-fundo);
  font-size: 0.9rem;
  transition: opacity 0.3s;
}

#cabecalho-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: calc(var(--altura-barra-acessibilidade) + var(--altura-cabecalho) + 0.5em);
  z-index: 2;
}

#conteudo-mobile {
  width: 100%;
  position: absolute;
}

@media (max-width: 767.98px) {
  #painel-principal {
    display: none;
    margin-left: 0;
  }
  #painel-principal.painelVisivel {
    display: flex;
    transition: height 1s ease;
  }
  .painel-cabecalho {
    margin-left: 0;
    flex: 1;
    flex-grow: 1;
  }
  #conteudo-mobile {
    margin-top: calc(var(--altura-barra-acessibilidade) + var(--altura-cabecalho) + 1em);
  }
  #painel-menu {
    display: flex;
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    bottom: auto;
    transition: height 0.3s ease;
  }
  #painel-menu #botao-expandir, #painel-menu #brasao, #painel-menu app-itens-menu {
    display: none;
  }
  #painel-menu.menuVisivel {
    height: 100vh;
  }
  #painel-menu.menuVisivel app-itens-menu {
    transition: height 0.3s ease;
    display: initial;
  }
}
:root:has(.color-blind) {
  --cor-apoio-verde: #00ae3b;
  --cor-apoio-vermelho: #f96a00;
  --cor-apoio-cinza-claro: black;
  --cor-fundo: black;
  --cor-fundo-hover: white;
  --cor-fundo-selecionado: #b5afed;
  --cor-primaria: white;
  --cor-primaria-texto: white;
  --cor-invertida-texto: black;
  --cor-botao-texto: white;
  --cor-invertida-botao-texto: white;
  --cor-borda-clara: rgba(200, 200, 200, 0.5);
}

.color-blind {
  color: #fff !important;
  background-color: #000 !important;
}

.color-blind ::-moz-selection {
  background-color: #fff;
  color: #000;
}

.color-blind ::selection {
  background-color: #fff;
  color: #000;
}

.color-blind .vw-text-active,
.color-blind .vw-text:hover {
  background-color: rgba(255, 255, 255, 0.415);
  color: rgb(0, 0, 0);
}

.color-blind #colunaSideBar .vw-text-active,
.color-blind #colunaSideBar .vw-text:hover {
  background-color: rgba(255, 255, 255, 0.415);
  color: rgb(0, 0, 0);
}

.color-blind #colunaSideBar .li-menu-aberto:hover .vw-text-active,
.color-blind #colunaSideBar .li-menu-aberto:hover .vw-text:hover,
.color-blind #colunaSideBar .dropBox .vw-text-active,
.color-blind #colunaSideBar .dropBox .vw-text:hover {
  background-color: rgba(0, 0, 0, 0.415);
  color: rgb(255, 255, 255);
}

.color-blind .btnCopy {
  color: #fff;
  background-color: #000;
}

.color-blind p {
  color: #fff;
}

.color-blind .btn {
  border-color: #fff;
}

.color-blind .btn:hover {
  background-color: #fff;
}

.color-blind .btn:hover .material-symbols-outlined {
  fill: #000;
}

.color-blind .dropdown-menu {
  background-color: #000 !important;
}

.color-blind .dropdown-menu .dropdown-item {
  color: #000 !important;
}

.color-blind .dropdown-menu .fechar-notificacoes {
  color: #fff;
}

.color-blind #botao-notificacao:hover svg {
  fill: yellow;
}

.color-blind .btn-acessibilidade {
  color: #fff;
}

.color-blind .btn-acessibilidade:focus {
  background-color: white;
  color: #000 !important;
}

.color-blind .btn-acessibilidade:focus svg {
  fill: #000 !important;
}

.color-blind .btn-acessibilidade:hover {
  color: #000;
}

.color-blind .btn-regular {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-regular i {
  color: #fff;
}

.color-blind .btn-regular:focus,
.color-blind .btn-regular:hover {
  color: yellow !important;
  border-color: #003672 !important;
}

.color-blind .btn-regular:hover svg {
  fill: #fff !important;
}

.color-blind .btn-success,
.color-blind .btn-sucesso {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-success i,
.color-blind .btn-sucesso i {
  color: #fff;
}

.color-blind .btn-success:hover,
.color-blind .btn-success:focus,
.color-blind .btn-sucesso:hover,
.color-blind .btn-sucesso:focus {
  background-color: #000;
  color: yellow;
  border-color: var(--cor-apoio-verde);
}

.color-blind .btn-cancelar {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-cancelar i {
  color: #fff;
}

.color-blind .btn-cancelar:hover,
.color-blind .btn-cancelar:focus {
  color: yellow;
  background-color: #000;
  border-color: #ed1d24;
}

.color-blind .btn-cancelar svg {
  fill: #fff;
  stroke: #fff;
}

.color-blind .btn-outline-danger {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-outline-danger svg {
  fill: #fff;
}

.color-blind .btn-outline-danger:hover,
.color-blind .btn-outline-danger:focus {
  color: yellow;
  background-color: #000;
  border-color: #ed1d24;
}

.color-blind .btn-warning {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-warning i {
  color: #fff;
}

.color-blind .btn-warning:focus,
.color-blind .btn-warning:hover {
  color: yellow;
  background-color: #000;
  border-color: #f39c12;
}

.color-blind .btn-warning svg {
  stroke: #fff;
}

.color-blind .btn-info {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-info i {
  color: #fff;
}

.color-blind .btn-info:focus,
.color-blind .btn-info:hover {
  color: yellow;
  background-color: #000;
  border-color: #117a8b;
}

.color-blind .btn-secondary {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-secondary i {
  color: #fff;
}

.color-blind .btn-secondary:focus,
.color-blind .btn-secondary:hover {
  color: yellow;
  background-color: #000;
  border-color: #6c757d;
}

.color-blind .btn-link {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-link:focus,
.color-blind .btn-link:hover {
  background-color: #000;
  color: yellow;
  text-decoration: underline;
}

.color-blind .btn-pagin {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-pagin i {
  color: #fff;
}

.color-blind .btn-pagin:hover,
.color-blind .btn-pagin:focus {
  color: yellow !important;
  border-color: #003672;
}

.color-blind .btn-pagin:hover svg,
.color-blind .btn-pagin:focus svg {
  fill: #fff !important;
}

.color-blind .btn-pagin:focus {
  box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
}

.color-blind .btn-primary {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-primary i {
  color: #fff;
}

.color-blind .btn-primary:hover {
  color: yellow !important;
}

.color-blind .btn-danger {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-danger i {
  color: #fff;
}

.color-blind .btn-danger:focus,
.color-blind .btn-danger:hover {
  border-color: #bd2130;
}

.color-blind .btn-outline-success {
  background-color: #000 !important;
  border-color: #28a745;
}

.color-blind main {
  background-color: #000;
}

.color-blind .header {
  background-color: #000;
}

.color-blind #botao_popup {
  color: white;
  background-color: #000;
}

.color-blind #botao_popup:hover,
.color-blind #botao_popup:focus {
  background-color: #000;
  color: #fff;
}

.color-blind #search-bar::-moz-placeholder {
  color: #fff;
}

.color-blind #search-bar::placeholder {
  color: #fff;
}

.color-blind .estilo-setas svg {
  fill: #000;
}

.color-blind .tabela th,
.color-blind .tabela td {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.color-blind .tabela th:focus,
.color-blind .tabela th:focus svg path {
  color: #ffff00;
  stroke: #ffff00;
}

.color-blind .filtrar-tabela {
  background-color: #000;
}

.color-blind .filtrar-tabela label {
  color: #fff;
}

.color-blind .inp-busca::-moz-placeholder {
  background-color: #000;
  color: #fff;
}

.color-blind .dataTables_length select,
.color-blind .inp-busca::placeholder {
  background-color: #000;
  color: #fff;
}

.color-blind .dataTables_length select:focus {
  background-color: #fff;
  color: #000;
}

.color-blind .cor-icon1,
.color-blind .cor-icon2 {
  fill: #fff;
}

.color-blind .tabela .thOrdenada svg path {
  stroke: white;
}

.color-blind .btn-outline-pesq {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.color-blind .btn-outline-pesq:hover,
.color-blind .btn-outline-pesq:focus {
  background-color: #fff;
}

.color-blind .btn-outline-pesq:hover .material-symbols-outlined,
.color-blind .btn-outline-pesq:focus .material-symbols-outlined {
  fill: #000;
}

.color-blind .tabela caption {
  color: yellow;
}

.color-blind #relogio::-moz-placeholder {
  color: white;
}

.color-blind #relogio::placeholder {
  color: white;
}

.color-blind .page-link,
.color-blind .page-link-poi,
.color-blind .page-item {
  color: #fff;
  background-color: #000;
}

.color-blind a.page-link:hover {
  color: #000;
  background-color: #fff;
}

.color-blind .padrao,
.color-blind .sucesso,
.color-blind .success,
.color-blind .erro {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.color-blind .atencao {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.color-blind .atencao h5 {
  color: #fff !important;
}

.color-blind .atencao button {
  color: #fff;
}

.color-blind .modal-body {
  background-color: #000;
}

.color-blind .modal-body h1 {
  color: #fff;
}

.color-blind .modal-footer {
  background-color: #000;
  border-top: 1px solid #fff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.color-blind .carousel-caption {
  background-color: #000;
}

.color-blind .carousel-control-prev,
.color-blind .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.63);
}

.color-blind .card-title {
  color: #000;
}

.color-blind .card .btn-info {
  color: #fff;
  border-color: #17a2b8;
}

.color-blind .card-text {
  color: #000;
}

.color-blind .mens-erro,
.color-blind .mens-suce,
.color-blind .mens-alert {
  background-color: #000;
}

.color-blind .mens-erro p,
.color-blind .mens-erro a,
.color-blind .mens-suce p,
.color-blind .mens-suce a,
.color-blind .mens-alert p,
.color-blind .mens-alert a {
  color: #fff;
}

.color-blind .mens-erro {
  border-color: #ff7b7b;
}

.color-blind .txToll a {
  color: #fff;
}

.color-blind .statusTl {
  color: #fff !important;
}

.color-blind #barraAcessibilidade div {
  background-color: #000;
}

.color-blind #barraAcessibilidade #atalhosDocumento a {
  color: white;
}

.color-blind #barraAcessibilidade #atalhosDocumento span {
  color: #000;
  background-color: yellow;
}

.color-blind h1 {
  color: yellow;
}

.color-blind h2 {
  color: yellow;
}

.color-blind h3,
.color-blind h3.h6 {
  color: yellow;
}

.color-blind h6 {
  color: yellow;
}

.color-blind code {
  color: #ff54a9;
}

.color-blind a {
  color: #ffffff;
}

.color-blind kbd {
  color: #585858;
  background-color: #ffffff;
}

.color-blind blockquote p {
  color: #e3e3e3;
}

.color-blind blockquote footer {
  color: #969696;
}

.color-blind .material-symbols-outlined {
  color: white;
  fill: white;
}

.color-blind #painel-menu {
  color: #000 !important;
  background-color: #000 !important;
}

.color-blind .item-menu:focus-visible {
  color: #000 !important;
}

.color-blind .item-menu:focus-visible svg {
  fill: #000 !important;
}

.color-blind .breadcrumb .active {
  color: #8c98a2;
}

.color-blind .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' height='10' viewBox='69.167 69.583 59.167 100.417' width='10'%3E%3Cpath d='m78.125 170-8.958-8.958 41.25-41.25-41.25-41.25 8.958-8.959 50.208 50.209L78.125 170Z'/%3E%3C/svg%3E");
}

.color-blind main .labelForm {
  color: #000;
}

.color-blind main .btn-color {
  color: rgb(136, 0, 255);
  background-color: rgb(255, 0, 0) !important;
}

.color-blind main .btn-color:hover {
  color: #000;
  background-color: #fff !important;
}

.color-blind::-webkit-scrollbar-track {
  background-color: rgb(62, 62, 62);
}

.color-blind::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
}

.color-blind .icones-menu-fechado:hover {
  color: #000;
}

.color-blind .icones-menu-fechado:hover svg {
  fill: #000;
}

.color-blind .icones-menu-fechado-selecionado {
  color: #000 !important;
}

.color-blind .icones-menu-fechado-selecionado svg {
  fill: #000 !important;
}

.color-blind .dropdown-item:focus {
  color: #000;
}

.color-blind .li-hover:focus {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}

.color-blind .li-hover:focus .icones-menu {
  color: #000 !important;
}

.color-blind .icones-menu-fechado-selecionado-tab {
  color: #000 !important;
}

.color-blind .icones-menu-fechado-selecionado-tab svg {
  fill: #000 !important;
}

.color-blind .forcar-focus {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}

.color-blind .forcar-focus .icones-menu {
  color: #000 !important;
}

.color-blind .forcar-focus-within,
.color-blind .forcar-focus-within-componentes {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}

.color-blind .forcar-focus-within .icones-menu,
.color-blind .forcar-focus-within-componentes .icones-menu {
  color: #000 !important;
  fill: #000 !important;
}

.color-blind .drop .tag-A-drop {
  color: #000;
}

.color-blind .hr {
  border: solid 1px yellow;
  opacity: 1;
}

.color-blind .circulo {
  border-top-color: #5da9ff;
}

.color-blind .form-control {
  color: #fff;
  background-color: #000;
}

.color-blind .form-control:focus {
  color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 0.25rem white;
}

.color-blind .label-flutuante,
.color-blind .label-text-area-flutuante {
  color: #fff;
  background-color: #000;
}

.color-blind .campo-flutuante .form-control:focus ~ .label-flutuante.tx-valido,
.color-blind .campo-flutuante .form-control:not(:placeholder-shown) ~ .label-flutuante.tx-valido {
  color: var(--cor-apoio-verde);
}

.color-blind .campo-flutuante .form-control:focus ~ .label-flutuante.tx-erro,
.color-blind .campo-flutuante .form-control:not(:placeholder-shown) ~ .label-flutuante.tx-erro {
  color: #f00;
}

.color-blind .buscar_produto,
.color-blind .buscar_produto2 {
  background-color: #000;
}

.color-blind .buscar_produto:hover,
.color-blind .buscar_produto2:hover {
  color: #000;
  background-color: #fff;
}

.color-blind .btn-buscar:hover svg.material-symbols-outlined {
  fill: #000;
}

.color-blind .form-select {
  border-color: #000;
  filter: invert(1);
}

.color-blind .form-select:focus {
  border: 2px solid #000;
  box-shadow: 0 0 0 0.25rem white;
}

.color-blind .custom-file-label::after {
  color: #fff;
  background-color: #000;
  border-left: 2.5px solid #fff;
}

.color-blind .titulo-box {
  color: #fff;
}

.color-blind .titulo-html {
  color: #009eec;
}

.color-blind .attr {
  color: #ff2fff;
}

.color-blind .valor-attr {
  color: #00af00;
}

.color-blind .card {
  border: none;
}

.color-blind .card .card-header {
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255) !important;
  background-color: #000;
}

.color-blind .card .card-header {
  color: #ffffff;
}

.color-blind .card .card-header:focus {
  color: #ffff00;
}

.color-blind .card .card-header svg,
.color-blind .card .card-header path {
  fill: #fff;
}

.color-blind .card .card-header[aria-expanded=true] path {
  fill: #ffff00;
}

.color-blind .card .card-body {
  color: #000;
}

.color-blind .exemplo-grid {
  background: #000;
  border: 1px solid #fff;
}

.color-blind .bs-timepicker {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.color-blind .bs-timepicker::-moz-placeholder {
  color: #fff;
}

.color-blind .bs-timepicker::placeholder {
  color: #fff;
}

.color-blind #picker {
  color: white;
}

.color-blind input[type=time i]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.color-blind .timepicker {
  background-color: #000;
}

.color-blind .icon-up,
.color-blind .icon-down {
  filter: invert(1);
}

.color-blind .js-hour-show,
.color-blind .js-minute-show,
.color-blind .text .cell-2 {
  color: #fff !important;
}

.color-blind .wc-date-container {
  background-color: #000;
}

.color-blind .wc-date-container span,
.color-blind .wc-date-container svg {
  color: #fff;
  fill: #fff;
}

.color-blind .wc-banner {
  background-color: #000;
}

.color-blind .wc-banner .wc-day-row,
.color-blind .wc-banner .wc-date-row,
.color-blind .wc-banner .wc-my-sec {
  background-color: #000;
}

.color-blind .selected-day > span {
  background-color: #000;
}

.color-blind .today > span {
  border-color: #000;
}

.color-blind .wc-details {
  background-color: #000;
}

.color-blind .calendar-header {
  background-color: #000;
}

.color-blind .nav-tabs .nav-link {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.color-blind .nav.nav-tabs {
  box-shadow: 1px 0px #000, -1px 0px #000;
}

.color-blind .nav-tabs .nav-link.active {
  color: #000;
  background-color: #fff;
}

.color-blind .tab-pane.fade.show.active {
  color: #000;
}

.color-blind .years-view > .prev,
.color-blind .years-view > .next {
  color: #000;
  fill: #000;
}

.color-blind .months-view > span,
.color-blind .years-list-view > span {
  color: #000;
  fill: #000;
}

.color-blind .months-view > span:hover,
.color-blind .years-list-view > span:hover {
  padding: 10px 0;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}

.color-blind .years-view > .prev:hover,
.color-blind .years-view > .next:hover {
  color: #515151;
}

.color-blind .calendar-days td:hover > span {
  background: #000;
}

.color-blind .pagination .contagem-total {
  color: #fff;
}

.color-blind .pagination .itens-pagina {
  background-color: #000;
  color: #fff;
}

.color-blind select.itens-pagina:focus-visible {
  color: #000;
  background-color: #fff;
}

.color-blind .pagination .subtracao-mb,
.color-blind .pagination .adicao-mb,
.color-blind .pagination .subtracao,
.color-blind .pagination .adicao {
  background-color: #000;
}

.color-blind .pagination .page-link:hover,
.color-blind .pagination .page-link:focus {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.color-blind .pagination .page-link:hover svg,
.color-blind .pagination .page-link:focus svg {
  fill: #000;
}

.color-blind .pagination .page-item.disabled svg {
  fill: green;
}

.color-blind .breadcrumb {
  background-color: #000;
}

.color-blind .breadcrumb-item > span > a {
  color: #dedede;
}

.color-blind .slidecontainer p,
.color-blind .slidecontainer em {
  color: #fff;
}

.color-blind .slidecontainer #demo {
  color: #ffff00;
}

.color-blind .popover .popover-header {
  background-color: #000;
}

.color-blind .popover .popover-body {
  color: #fff;
  background-color: #000;
}

.color-blind .jumbotron {
  background-color: #000;
  box-shadow: inset #fff 0px 0px 0 1px;
}

.color-blind .jumbotron > button {
  background-color: #000;
}

.color-blind .jumbotron-1 {
  background-color: #000;
}

.color-blind .jumbotron-1 > button {
  background-color: #000;
  color: #fff;
}

@media (min-width: 992px) {
  .color-blind li .li-menu-aberto:hover {
    background-color: var(--cor-secundaria);
    color: #000 !important;
  }
  .color-blind li .li-menu-aberto:hover .icones-menu {
    fill: #000 !important;
  }
  .color-blind a:hover::after {
    color: #000 !important;
  }
}
@media (max-width: 991px) {
  .color-blind .header {
    background-color: #000;
  }
  .color-blind #menu-lateral {
    background-color: unset;
    box-shadow: unset !important;
  }
  .color-blind .menu-lateral-aberto {
    background-color: #000;
    box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255) !important;
  }
}
#barra-acessibilidade {
  position: relative;
  display: block;
  width: 100%;
  height: var(--altura-barra-acessibilidade);
}
#barra-acessibilidade button {
  background-color: var(--cor-fundo);
  color: var(--cor-primaria-texto);
  width: 2em;
  height: 2em;
  border: 1px solid var(--cor-primaria-texto);
  margin: 0 5px;
}
#barra-acessibilidade button svg {
  fill: var(--cor-primaria-texto);
}
#barra-acessibilidade button:hover, #barra-acessibilidade button:focus {
  background-color: var(--cor-apoio-cinza-claro);
}

@media (max-width: 767.98px) {
  #barra-acessibilidade {
    order: -1;
    position: relative;
    display: block;
    width: 100%;
  }
}
.botoes {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: var(--largura-botao);
  height: 3em;
  box-shadow: -2px 5px 10px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
  margin-right: 0.5em;
}
button svg {
  height: 1.25em;
  width: 1.25em;
  fill: var(--cor-botao-texto);
}
button span {
  text-align: left;
  font-size: 1em;
  margin-left: 0.5em;
  color: var(--cor-botao-texto);
}

.btn-success svg, .btn-danger svg {
  fill: var(--cor-invertida-botao-texto);
}
.btn-success span, .btn-danger span {
  color: var(--cor-invertida-botao-texto);
}

.btn-default:hover {
  background-color: var(--cor-borda-clara);
  border-color: var(--cor-borda-clara);
}

#botao-login {
  width: var(--largura-botao);
  box-shadow: -2px 5px 10px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
  margin: 0.5em;
  text-decoration: none;
  color: var(--cor-botao-texto);
}
#botao-login:hover, #botao-login:focus {
  color: var(--cor-primaria-texto);
  box-shadow: -2px 5px 10px var(--cor-sombra);
  background-color: var(--cor-sombra);
}
#botao-login i {
  margin-right: 0.5em;
  color: var(--cor-botao-texto);
}

#botao-logout {
  width: var(--largura-botao);
  box-shadow: -2px 5px 10px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
  margin: 0.5em;
  text-decoration: none;
  color: var(--cor-botao-texto);
}
#botao-logout:hover, #botao-logout:focus {
  color: var(--cor-primaria-texto);
  box-shadow: -2px 5px 10px var(--cor-sombra);
  background-color: var(--cor-sombra);
}
#botao-logout i {
  margin-right: 0.5em;
  color: var(--cor-botao-texto);
}

.breadcrumb {
  text-decoration: none;
  margin-top: 0.5em;
}

.breadcrumb-item > a {
  text-decoration: none;
  color: #17629E;
}

.breadcrumb-item {
  font-size: min(16px, 6vw);
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding: 0 4px 0 7px;
  content: ">";
}

@media (max-width: 767.99px) {
  .breadcrumb {
    margin-left: -25px;
    margin-right: -25px;
  }
  li.breadcrumb-item span {
    display: block;
  }
  .breadcrumb-item {
    width: unset;
    display: list-item !important;
    font-size: 16px;
  }
}
#cabecalho-mobile {
  display: block;
}

#cabecalho-desktop {
  display: none;
}

#tituloCabecalho {
  display: flex;
  flex-direction: row;
  height: var(--altura-cabecalho);
  font-size: 1.5rem;
  align-items: center;
  padding: 0.5em;
  width: 100%;
  box-shadow: -5px 10px 15px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
}

#tituloBrasao,
#botao-hamburguinho {
  display: none;
}

#tituloApp {
  display: block;
  flex-grow: 1;
  color: var(--cor-primaria);
  font-size: 1.5rem;
  transition: opacity 0.3s;
  align-items: center;
}

#tituloSefaz {
  display: none;
}

@media (min-width: 767.99px) {
  #cabecalho-mobile {
    display: none;
  }
  #cabecalho-desktop {
    display: block;
  }
}
@media (max-width: 767.98px) {
  #tituloCabecalho {
    background-color: var(--cor-primaria);
    padding: 0.5em 1em;
    justify-content: space-between;
    box-shadow: none;
  }
  #tituloBrasao {
    display: block;
    height: 2.3em;
    width: auto;
  }
  #tituloApp {
    display: none;
  }
  #tituloSefaz {
    display: block;
    margin-left: 0.5em;
    color: var(--cor-fundo);
    font-size: 1.3rem;
    transition: opacity 0.3s;
    align-items: center;
  }
  #botao-hamburguinho {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--cor-invertida-texto);
  }
}
#menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#menu #quebra_linha {
  border-top: 1px solid #ccc;
  margin: 5px 0;
  background-color: transparent;
}
#menu #itens-popup,
#menu #itens-nav {
  display: none;
}
#menu a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--cor-menu-invertida-texto);
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border-radius: 1.7em;
}
#menu a:hover, #menu a:focus {
  background-color: var(--cor-fundo-hover);
  color: var(--cor-menu-texto);
  outline: none;
}
#menu a.selected {
  background-color: var(--cor-fundo-selecionado);
  color: var(--cor-menu-texto);
}
#menu a i {
  margin: 0 1em;
  font-size: 1.7em;
}
@media (min-width: 767.99px) {
  #menu.recolhido a {
    border-radius: 0.8em;
    flex-direction: column;
    font-size: 0.7em;
    text-align: center;
  }
}
#menu #itens-nav.exibirNav {
  display: block;
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}
@media (max-width: 767.99px) {
  #menu #itens-popup {
    display: block;
    margin-top: 10%;
  }
  #menu #quebra_linha {
    background-color: var(--cor-fundo);
  }
}
#menu #itens-popup.exibirPop {
  display: block;
}
#menu #itens-popup.exibirPop a {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--cor-principal);
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}
#menu #itens-popup.exibirPop a:hover {
  background-color: #ccc;
  cursor: pointer;
}

#menu_popup {
  float: right;
  position: relative;
  display: inline-block;
}

#caixa-menu {
  background-color: var(--cor-fundo);
  position: absolute;
  right: -10px;
  display: flex;
  flex-direction: row;
  top: 1.3em;
  min-width: 180px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--cor-apoio-cinza-claro);
  box-shadow: 2px 4px 6px var(--cor-sombra);
}

#botao_popup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.6em;
  width: 1.6em;
  border-radius: 0.8em;
  cursor: pointer;
  color: var(--cor-invertida-texto);
  background-color: var(--cor-primaria);
  border: solid thin;
  border-color: var(--cor-primaria);
}
#botao_popup.menuVisivel {
  color: var(--cor-primaria);
  background-color: var(--cor-invertida-texto);
}

#iniciais_popup {
  font-size: 0.8em;
  font-style: normal;
}

@media (max-width: 767.98px) {
  #botao_popup {
    display: none;
  }
}
#tabela_dados {
  margin: 0.5em;
}

.tabela {
  border: 1px solid #DDD;
  color: var(--cor-primaria-texto);
  width: 100%;
}

.tabela th {
  border: 1px solid var(--cor-primaria);
  background-color: var(--cor-primaria);
  height: var(--altura-linha);
  color: var(--cor-invertida-texto);
  padding: 0 1em;
}

.tabela td {
  border: 1px solid #DDD;
  height: var(--altura-linha);
  padding: 0 1em;
}

.campoNumerico {
  text-align: right;
}

.campoTexto {
  text-align: left;
  margin-left: 0.5em;
}

#tabela-botao-adicionar {
  width: var(--largura-botao);
  box-shadow: -2px 5px 10px var(--cor-sombra);
  border-color: var(--cor-borda-clara);
  border-style: solid;
  border-block-width: thin;
  margin: 0.5em;
}
#tabela-botao-adicionar a {
  text-decoration: none;
  color: var(--cor-botao-texto);
}
#tabela-botao-adicionar i {
  margin-right: 0.5em;
  color: var(--cor-botao-texto);
}

.tabela-botoes {
  width: 8em;
  text-align: center;
}
.tabela-botoes a {
  padding: 0 0.2em;
  font-size: 1.2rem;
  border-radius: 5px;
}
.tabela-botoes a:hover, .tabela-botoes a:focus {
  color: var(--cor-primaria-texto);
  box-shadow: -2px 5px 10px var(--cor-sombra);
  background-color: var(--cor-sombra);
}
.tabela-botoes #tabela-botao-alterar {
  color: var(--cor-apoio-verde);
}
.tabela-botoes #tabela-botao-consultar {
  color: var(--cor-primaria);
}
.tabela-botoes #tabela-botao-excluir {
  color: var(--cor-apoio-vermelho);
}

.btn:hover {
  background-color: var(--cor-borda-clara);
  border-color: var(--cor-sombra);
}

@media (max-width: 767.99px) {
  .tabela-botoes {
    width: 2em;
  }
}
@font-face {
  font-family: "Montserrat";
  src: url(assets/font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Open Sans";
  src: url(assets/font/OpenSans-VariableFont_wdth.ttf);
}
:root:has(.color-blind) {
  --cor-apoio-verde: #00ae3b;
  --cor-apoio-vermelho: #f96a00;
  --cor-apoio-cinza-claro: black;
  --cor-fundo: black;
  --cor-fundo-hover: white;
  --cor-fundo-selecionado: #b5afed;
  --cor-primaria: white;
  --cor-primaria-texto: white;
  --cor-invertida-texto: black;
  --cor-botao-texto: white;
  --cor-invertida-botao-texto: white;
  --cor-borda-clara: rgba(200, 200, 200, 0.5);
}

.color-blind {
  color: #fff !important;
  background-color: #000 !important;
}

.color-blind ::-moz-selection {
  background-color: #fff;
  color: #000;
}

.color-blind ::selection {
  background-color: #fff;
  color: #000;
}

.color-blind .vw-text-active,
.color-blind .vw-text:hover {
  background-color: rgba(255, 255, 255, 0.415);
  color: rgb(0, 0, 0);
}

.color-blind #colunaSideBar .vw-text-active,
.color-blind #colunaSideBar .vw-text:hover {
  background-color: rgba(255, 255, 255, 0.415);
  color: rgb(0, 0, 0);
}

.color-blind #colunaSideBar .li-menu-aberto:hover .vw-text-active,
.color-blind #colunaSideBar .li-menu-aberto:hover .vw-text:hover,
.color-blind #colunaSideBar .dropBox .vw-text-active,
.color-blind #colunaSideBar .dropBox .vw-text:hover {
  background-color: rgba(0, 0, 0, 0.415);
  color: rgb(255, 255, 255);
}

.color-blind .btnCopy {
  color: #fff;
  background-color: #000;
}

.color-blind p {
  color: #fff;
}

.color-blind .btn {
  border-color: #fff;
}

.color-blind .btn:hover {
  background-color: #fff;
}

.color-blind .btn:hover .material-symbols-outlined {
  fill: #000;
}

.color-blind .dropdown-menu {
  background-color: #000 !important;
}

.color-blind .dropdown-menu .dropdown-item {
  color: #000 !important;
}

.color-blind .dropdown-menu .fechar-notificacoes {
  color: #fff;
}

.color-blind #botao-notificacao:hover svg {
  fill: yellow;
}

.color-blind .btn-acessibilidade {
  color: #fff;
}

.color-blind .btn-acessibilidade:focus {
  background-color: white;
  color: #000 !important;
}

.color-blind .btn-acessibilidade:focus svg {
  fill: #000 !important;
}

.color-blind .btn-acessibilidade:hover {
  color: #000;
}

.color-blind .btn-regular {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-regular i {
  color: #fff;
}

.color-blind .btn-regular:focus,
.color-blind .btn-regular:hover {
  color: yellow !important;
  border-color: #003672 !important;
}

.color-blind .btn-regular:hover svg {
  fill: #fff !important;
}

.color-blind .btn-success,
.color-blind .btn-sucesso {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-success i,
.color-blind .btn-sucesso i {
  color: #fff;
}

.color-blind .btn-success:hover,
.color-blind .btn-success:focus,
.color-blind .btn-sucesso:hover,
.color-blind .btn-sucesso:focus {
  background-color: #000;
  color: yellow;
  border-color: var(--cor-apoio-verde);
}

.color-blind .btn-cancelar {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-cancelar i {
  color: #fff;
}

.color-blind .btn-cancelar:hover,
.color-blind .btn-cancelar:focus {
  color: yellow;
  background-color: #000;
  border-color: #ed1d24;
}

.color-blind .btn-cancelar svg {
  fill: #fff;
  stroke: #fff;
}

.color-blind .btn-outline-danger {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-outline-danger svg {
  fill: #fff;
}

.color-blind .btn-outline-danger:hover,
.color-blind .btn-outline-danger:focus {
  color: yellow;
  background-color: #000;
  border-color: #ed1d24;
}

.color-blind .btn-warning {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-warning i {
  color: #fff;
}

.color-blind .btn-warning:focus,
.color-blind .btn-warning:hover {
  color: yellow;
  background-color: #000;
  border-color: #f39c12;
}

.color-blind .btn-warning svg {
  stroke: #fff;
}

.color-blind .btn-info {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-info i {
  color: #fff;
}

.color-blind .btn-info:focus,
.color-blind .btn-info:hover {
  color: yellow;
  background-color: #000;
  border-color: #117a8b;
}

.color-blind .btn-secondary {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-secondary i {
  color: #fff;
}

.color-blind .btn-secondary:focus,
.color-blind .btn-secondary:hover {
  color: yellow;
  background-color: #000;
  border-color: #6c757d;
}

.color-blind .btn-link {
  background-color: #000;
  color: yellow;
}

.color-blind .btn-link:focus,
.color-blind .btn-link:hover {
  background-color: #000;
  color: yellow;
  text-decoration: underline;
}

.color-blind .btn-pagin {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-pagin i {
  color: #fff;
}

.color-blind .btn-pagin:hover,
.color-blind .btn-pagin:focus {
  color: yellow !important;
  border-color: #003672;
}

.color-blind .btn-pagin:hover svg,
.color-blind .btn-pagin:focus svg {
  fill: #fff !important;
}

.color-blind .btn-pagin:focus {
  box-shadow: 0 0 0 3.2px rgba(0, 123, 255, 0.25);
}

.color-blind .btn-primary {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-primary i {
  color: #fff;
}

.color-blind .btn-primary:hover {
  color: yellow !important;
}

.color-blind .btn-danger {
  background-color: #000 !important;
  border-color: #fff;
  color: yellow;
}

.color-blind .btn-danger i {
  color: #fff;
}

.color-blind .btn-danger:focus,
.color-blind .btn-danger:hover {
  border-color: #bd2130;
}

.color-blind .btn-outline-success {
  background-color: #000 !important;
  border-color: #28a745;
}

.color-blind main {
  background-color: #000;
}

.color-blind .header {
  background-color: #000;
}

.color-blind #botao_popup {
  color: white;
  background-color: #000;
}

.color-blind #botao_popup:hover,
.color-blind #botao_popup:focus {
  background-color: #000;
  color: #fff;
}

.color-blind #search-bar::-moz-placeholder {
  color: #fff;
}

.color-blind #search-bar::placeholder {
  color: #fff;
}

.color-blind .estilo-setas svg {
  fill: #000;
}

.color-blind .tabela th,
.color-blind .tabela td {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.color-blind .tabela th:focus,
.color-blind .tabela th:focus svg path {
  color: #ffff00;
  stroke: #ffff00;
}

.color-blind .filtrar-tabela {
  background-color: #000;
}

.color-blind .filtrar-tabela label {
  color: #fff;
}

.color-blind .inp-busca::-moz-placeholder {
  background-color: #000;
  color: #fff;
}

.color-blind .dataTables_length select,
.color-blind .inp-busca::placeholder {
  background-color: #000;
  color: #fff;
}

.color-blind .dataTables_length select:focus {
  background-color: #fff;
  color: #000;
}

.color-blind .cor-icon1,
.color-blind .cor-icon2 {
  fill: #fff;
}

.color-blind .tabela .thOrdenada svg path {
  stroke: white;
}

.color-blind .btn-outline-pesq {
  color: #fff;
  background-color: #000;
  border-color: #fff;
}

.color-blind .btn-outline-pesq:hover,
.color-blind .btn-outline-pesq:focus {
  background-color: #fff;
}

.color-blind .btn-outline-pesq:hover .material-symbols-outlined,
.color-blind .btn-outline-pesq:focus .material-symbols-outlined {
  fill: #000;
}

.color-blind .tabela caption {
  color: yellow;
}

.color-blind #relogio::-moz-placeholder {
  color: white;
}

.color-blind #relogio::placeholder {
  color: white;
}

.color-blind .page-link,
.color-blind .page-link-poi,
.color-blind .page-item {
  color: #fff;
  background-color: #000;
}

.color-blind a.page-link:hover {
  color: #000;
  background-color: #fff;
}

.color-blind .padrao,
.color-blind .sucesso,
.color-blind .success,
.color-blind .erro {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.color-blind .atencao {
  color: #fff;
  background-color: #000;
  border-bottom: 1px solid #fff;
}

.color-blind .atencao h5 {
  color: #fff !important;
}

.color-blind .atencao button {
  color: #fff;
}

.color-blind .modal-body {
  background-color: #000;
}

.color-blind .modal-body h1 {
  color: #fff;
}

.color-blind .modal-footer {
  background-color: #000;
  border-top: 1px solid #fff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.color-blind .carousel-caption {
  background-color: #000;
}

.color-blind .carousel-control-prev,
.color-blind .carousel-control-next {
  background-color: rgba(0, 0, 0, 0.63);
}

.color-blind .card-title {
  color: #000;
}

.color-blind .card .btn-info {
  color: #fff;
  border-color: #17a2b8;
}

.color-blind .card-text {
  color: #000;
}

.color-blind .mens-erro,
.color-blind .mens-suce,
.color-blind .mens-alert {
  background-color: #000;
}

.color-blind .mens-erro p,
.color-blind .mens-erro a,
.color-blind .mens-suce p,
.color-blind .mens-suce a,
.color-blind .mens-alert p,
.color-blind .mens-alert a {
  color: #fff;
}

.color-blind .mens-erro {
  border-color: #ff7b7b;
}

.color-blind .txToll a {
  color: #fff;
}

.color-blind .statusTl {
  color: #fff !important;
}

.color-blind #barraAcessibilidade div {
  background-color: #000;
}

.color-blind #barraAcessibilidade #atalhosDocumento a {
  color: white;
}

.color-blind #barraAcessibilidade #atalhosDocumento span {
  color: #000;
  background-color: yellow;
}

.color-blind h1 {
  color: yellow;
}

.color-blind h2 {
  color: yellow;
}

.color-blind h3,
.color-blind h3.h6 {
  color: yellow;
}

.color-blind h6 {
  color: yellow;
}

.color-blind code {
  color: #ff54a9;
}

.color-blind a {
  color: #ffffff;
}

.color-blind kbd {
  color: #585858;
  background-color: #ffffff;
}

.color-blind blockquote p {
  color: #e3e3e3;
}

.color-blind blockquote footer {
  color: #969696;
}

.color-blind .material-symbols-outlined {
  color: white;
  fill: white;
}

.color-blind #painel-menu {
  color: #000 !important;
  background-color: #000 !important;
}

.color-blind .item-menu:focus-visible {
  color: #000 !important;
}

.color-blind .item-menu:focus-visible svg {
  fill: #000 !important;
}

.color-blind .breadcrumb .active {
  color: #8c98a2;
}

.color-blind .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' height='10' viewBox='69.167 69.583 59.167 100.417' width='10'%3E%3Cpath d='m78.125 170-8.958-8.958 41.25-41.25-41.25-41.25 8.958-8.959 50.208 50.209L78.125 170Z'/%3E%3C/svg%3E");
}

.color-blind main .labelForm {
  color: #000;
}

.color-blind main .btn-color {
  color: rgb(136, 0, 255);
  background-color: rgb(255, 0, 0) !important;
}

.color-blind main .btn-color:hover {
  color: #000;
  background-color: #fff !important;
}

.color-blind::-webkit-scrollbar-track {
  background-color: rgb(62, 62, 62);
}

.color-blind::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
}

.color-blind .icones-menu-fechado:hover {
  color: #000;
}

.color-blind .icones-menu-fechado:hover svg {
  fill: #000;
}

.color-blind .icones-menu-fechado-selecionado {
  color: #000 !important;
}

.color-blind .icones-menu-fechado-selecionado svg {
  fill: #000 !important;
}

.color-blind .dropdown-item:focus {
  color: #000;
}

.color-blind .li-hover:focus {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}

.color-blind .li-hover:focus .icones-menu {
  color: #000 !important;
}

.color-blind .icones-menu-fechado-selecionado-tab {
  color: #000 !important;
}

.color-blind .icones-menu-fechado-selecionado-tab svg {
  fill: #000 !important;
}

.color-blind .forcar-focus {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}

.color-blind .forcar-focus .icones-menu {
  color: #000 !important;
}

.color-blind .forcar-focus-within,
.color-blind .forcar-focus-within-componentes {
  background-color: var(--cor-secundaria);
  color: #000 !important;
}

.color-blind .forcar-focus-within .icones-menu,
.color-blind .forcar-focus-within-componentes .icones-menu {
  color: #000 !important;
  fill: #000 !important;
}

.color-blind .drop .tag-A-drop {
  color: #000;
}

.color-blind .hr {
  border: solid 1px yellow;
  opacity: 1;
}

.color-blind .circulo {
  border-top-color: #5da9ff;
}

.color-blind .form-control {
  color: #fff;
  background-color: #000;
}

.color-blind .form-control:focus {
  color: #fff;
  border: 2px solid #ffffff;
  box-shadow: 0 0 0 0.25rem white;
}

.color-blind .label-flutuante,
.color-blind .label-text-area-flutuante {
  color: #fff;
  background-color: #000;
}

.color-blind .campo-flutuante .form-control:focus ~ .label-flutuante.tx-valido,
.color-blind .campo-flutuante .form-control:not(:placeholder-shown) ~ .label-flutuante.tx-valido {
  color: var(--cor-apoio-verde);
}

.color-blind .campo-flutuante .form-control:focus ~ .label-flutuante.tx-erro,
.color-blind .campo-flutuante .form-control:not(:placeholder-shown) ~ .label-flutuante.tx-erro {
  color: #f00;
}

.color-blind .buscar_produto,
.color-blind .buscar_produto2 {
  background-color: #000;
}

.color-blind .buscar_produto:hover,
.color-blind .buscar_produto2:hover {
  color: #000;
  background-color: #fff;
}

.color-blind .btn-buscar:hover svg.material-symbols-outlined {
  fill: #000;
}

.color-blind .form-select {
  border-color: #000;
  filter: invert(1);
}

.color-blind .form-select:focus {
  border: 2px solid #000;
  box-shadow: 0 0 0 0.25rem white;
}

.color-blind .custom-file-label::after {
  color: #fff;
  background-color: #000;
  border-left: 2.5px solid #fff;
}

.color-blind .titulo-box {
  color: #fff;
}

.color-blind .titulo-html {
  color: #009eec;
}

.color-blind .attr {
  color: #ff2fff;
}

.color-blind .valor-attr {
  color: #00af00;
}

.color-blind .card {
  border: none;
}

.color-blind .card .card-header {
  box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255) !important;
  background-color: #000;
}

.color-blind .card .card-header {
  color: #ffffff;
}

.color-blind .card .card-header:focus {
  color: #ffff00;
}

.color-blind .card .card-header svg,
.color-blind .card .card-header path {
  fill: #fff;
}

.color-blind .card .card-header[aria-expanded=true] path {
  fill: #ffff00;
}

.color-blind .card .card-body {
  color: #000;
}

.color-blind .exemplo-grid {
  background: #000;
  border: 1px solid #fff;
}

.color-blind .bs-timepicker {
  background-color: black;
  border: 1px solid white;
  color: white;
}

.color-blind .bs-timepicker::-moz-placeholder {
  color: #fff;
}

.color-blind .bs-timepicker::placeholder {
  color: #fff;
}

.color-blind #picker {
  color: white;
}

.color-blind input[type=time i]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.color-blind .timepicker {
  background-color: #000;
}

.color-blind .icon-up,
.color-blind .icon-down {
  filter: invert(1);
}

.color-blind .js-hour-show,
.color-blind .js-minute-show,
.color-blind .text .cell-2 {
  color: #fff !important;
}

.color-blind .wc-date-container {
  background-color: #000;
}

.color-blind .wc-date-container span,
.color-blind .wc-date-container svg {
  color: #fff;
  fill: #fff;
}

.color-blind .wc-banner {
  background-color: #000;
}

.color-blind .wc-banner .wc-day-row,
.color-blind .wc-banner .wc-date-row,
.color-blind .wc-banner .wc-my-sec {
  background-color: #000;
}

.color-blind .selected-day > span {
  background-color: #000;
}

.color-blind .today > span {
  border-color: #000;
}

.color-blind .wc-details {
  background-color: #000;
}

.color-blind .calendar-header {
  background-color: #000;
}

.color-blind .nav-tabs .nav-link {
  background-color: #000;
  color: #fff;
  border-color: #fff;
}

.color-blind .nav.nav-tabs {
  box-shadow: 1px 0px #000, -1px 0px #000;
}

.color-blind .nav-tabs .nav-link.active {
  color: #000;
  background-color: #fff;
}

.color-blind .tab-pane.fade.show.active {
  color: #000;
}

.color-blind .years-view > .prev,
.color-blind .years-view > .next {
  color: #000;
  fill: #000;
}

.color-blind .months-view > span,
.color-blind .years-list-view > span {
  color: #000;
  fill: #000;
}

.color-blind .months-view > span:hover,
.color-blind .years-list-view > span:hover {
  padding: 10px 0;
  border-radius: 50%;
  color: #fff;
  background-color: #000;
}

.color-blind .years-view > .prev:hover,
.color-blind .years-view > .next:hover {
  color: #515151;
}

.color-blind .calendar-days td:hover > span {
  background: #000;
}

.color-blind .pagination .contagem-total {
  color: #fff;
}

.color-blind .pagination .itens-pagina {
  background-color: #000;
  color: #fff;
}

.color-blind select.itens-pagina:focus-visible {
  color: #000;
  background-color: #fff;
}

.color-blind .pagination .subtracao-mb,
.color-blind .pagination .adicao-mb,
.color-blind .pagination .subtracao,
.color-blind .pagination .adicao {
  background-color: #000;
}

.color-blind .pagination .page-link:hover,
.color-blind .pagination .page-link:focus {
  background-color: #fff;
  border-color: #fff;
  color: #000;
}

.color-blind .pagination .page-link:hover svg,
.color-blind .pagination .page-link:focus svg {
  fill: #000;
}

.color-blind .pagination .page-item.disabled svg {
  fill: green;
}

.color-blind .breadcrumb {
  background-color: #000;
}

.color-blind .breadcrumb-item > span > a {
  color: #dedede;
}

.color-blind .slidecontainer p,
.color-blind .slidecontainer em {
  color: #fff;
}

.color-blind .slidecontainer #demo {
  color: #ffff00;
}

.color-blind .popover .popover-header {
  background-color: #000;
}

.color-blind .popover .popover-body {
  color: #fff;
  background-color: #000;
}

.color-blind .jumbotron {
  background-color: #000;
  box-shadow: inset #fff 0px 0px 0 1px;
}

.color-blind .jumbotron > button {
  background-color: #000;
}

.color-blind .jumbotron-1 {
  background-color: #000;
}

.color-blind .jumbotron-1 > button {
  background-color: #000;
  color: #fff;
}

@media (min-width: 992px) {
  .color-blind li .li-menu-aberto:hover {
    background-color: var(--cor-secundaria);
    color: #000 !important;
  }
  .color-blind li .li-menu-aberto:hover .icones-menu {
    fill: #000 !important;
  }
  .color-blind a:hover::after {
    color: #000 !important;
  }
}
@media (max-width: 991px) {
  .color-blind .header {
    background-color: #000;
  }
  .color-blind #menu-lateral {
    background-color: unset;
    box-shadow: unset !important;
  }
  .color-blind .menu-lateral-aberto {
    background-color: #000;
    box-shadow: inset 0px 0px 0px 2px rgb(255, 255, 255) !important;
  }
}
